.researchUD{
    display:flex;
    flex-direction: column;
   // background-color: bisque;
      margin-right: 319.5px;
   // margin-right: 319.5px;
    width:100%;
}

.ud-header{
  //  background-color: aquamarine;
    font-size: 26px;
    font-family:'Roboto';
    font-weight: 700;
    display: flex;
    width:100%;
    flex-direction: column;
   
}
.ud-title{
   
    display: flex;

    margin-left:60px;
    margin-bottom: 23.5px;
    width: 100%;
}
.ud-scrollMenu{
     width:100%;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;
}
.udList{
    font-size: 22px;
    list-style: none;
    display:flex;
    width: 100%;
   // margin-left: 242px;
    //margin-right: 272px;
    justify-content: space-around;
    //background-color: pink;
    cursor:pointer;
}

.udu-all{
    display: flex;
    
    flex-direction: column;
  //  margin-left: 30px;
    //background-color: yellow;
    width: 90%;
    height: 100%;
    align-self: center;


}

.udul{
   // background-color: skyblue;
    margin-top: 22.5px;
    border-style: solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;
    display: flex;
    flex-direction: column;
  
}

.udu-title{
   width: 100%;
   margin-right: 10px;
    font-weight:700;
    //background-color: blue;
    font-size:25px;
    font-family: 'Segoe UI';
    color: #002650;
    margin-bottom: 20px;
    margin-top:20px;
}
@media screen and(max-width:768px) {
    .researchUD{
        display:flex;
        flex-direction: column;
       // background-color: bisque;
       margin-right:0px;
       // margin-right: 319.5px;
        width:100%;
    }
    
    .ud-header{
     //   background-color: aquamarine;
        font-size: 20px;
        font-family:'Roboto';
        font-weight: 700;
        display: flex;
        width:100%;
        flex-direction: column;
       
    }
    .ud-title{
        width:100%;
        margin-left:0px;
        margin-bottom: 23.5px;
        
    }
    .ud-scrollMenu{
         width:100%;
        display: flex;
        padding: 0px;
        justify-content: space-around;
        border-style: solid;
        border-top-width:1px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:1px;
        border-color: #707070;
    }
    .udList{
        width:100%;
        font-size: 15px;
        list-style: none;
        display:flex;
       
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-around;
     //   background-color: pink;
        cursor:pointer;
    }
    
    .udu-all{
        margin-left: 0px;
        display: flex;
        
        flex-direction: column;
        margin-left: 30px;
      //  background-color: yellow;
        width: 80%;
        height: 100%;
        align-self: center;
      //  background-color: yellow;
    
    }
    
    .udul{
       // background-color: skyblue;
        margin-top: 22.5px;
        border-style: solid;
        border-top-width:0px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:1px;
        border-color: #707070;
        display: flex;
        flex-direction: column;
        width:100%;
    }
    
   
}