.patent{
    display:flex;
    flex-direction: column;
    background-color: bisque;
    
}

.patent-header{
    background-color: aquamarine;
   
    display: flex;
    font-size: 26px;
    flex-direction: column;
   
}
.patent-title{
    margin-left:50px;
}
.patent-scrollMenu{
    margin-left: 100px;
    margin-right:200px ;
    background-color: skyblue;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.patentList{
    font-size: 22px;
    list-style: none;
    display:flex;
    width: 100%;
    justify-content: space-around;
    background-color: pink;
    cursor:pointer;
}


.patent-profile{
    margin-right:200px ;
    margin-left:50px;
    background-color: aqua;
    padding:5px;
}

.patent2022{
    margin-right:200px ;
    margin-left:50px;
    background-color: yellowgreen;
    padding:5px;
}

.patent2021{
    margin-right:200px ;
    margin-left:50px;
    background-color: yellow;
    padding:5px;

}

.patent2020{
    margin-right:200px ;
    margin-left:50px;
    padding:5px;
    background-color: green;
}
.patent2019{
    margin-right:200px ;
    margin-left:50px;
    padding:5px;
    background-color: skyblue;
}
.patent2018{
    margin-right:200px ;
    margin-left:50px;
    padding:5px;
    background-color: blue;
}

.patentSearch{
    background-color: red;
}