
.container{
    display: flex;
    position: relative;
    padding:0 2rem;
    width: 100%;
}

.members{
    display:flex;
    margin-bottom: 200px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
   
    
    
}


.membersLeft{
    display:flex;
    flex:1;
    flex-direction: row;
    margin-top:64px;
    margin-bottom: 200px;
    width: 100%;
    height:100%;
 
  
}

.sidePosition{
    display: flex;
    flex-direction:row;
}

.membersRight{
    display:flex;
    flex:5;
    height:100%;
    width: 100%;
    margin-top:64px;
   
}
@media(max-width: 992px) {

    .container{
        position: relative;
        padding: 0 1rem;
    }
   
}

@media (max-width: 576px) {

    .container{
        position: relative;
        padding-right: 18px;
        padding-left: 18px;
    }
   
    .membersLeft{
    
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height:100%;
 
  
}

.membersRight{
    display:flex;
    flex:5;
    height:100%;
    width: 100%;
    margin-top: 0;
   
}
    
    .sidePosition{
        display: flex;
        flex-direction: column;
    }
    

    
}