
.members{
    display:flex;
    margin-bottom: 200px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
   
    
    
}

.membersLeft{
    display:flex;
    flex:1;
    flex-direction: row;
    margin-top:64px;
    margin-bottom: 200px;
    width: 100%;
    height:100%;
 
  
}

.membersRight{
    display:flex;
    flex:5;
    height:100%;
    width: 100%;
    margin-top:64px;
   
   
 
    
}
@media(max-width: 992px) {
   
}

@media (max-width: 576px) {
    

    
}