
.members{
    display:flex;
    margin-bottom: 200px;
    width: 100%;
    
}

.membersLeft{
    display:flex;
    flex:1;
    margin-top:64px;
    margin-bottom: 200px;
    width: 100%;
    height:100%;
  
}

.membersRight{
    display:flex;
    flex:5;
    height:100%;
    width: 100%;
    margin-top:64px;
   
 
    
}
@media(max-width: 992px) {
   
}

@media (max-width: 576px) {
    

    
}