.gallery{
    display: flex;
    width:100%;
  
}

.gallery-left{
    flex:1;
    display: flex;
}

.gallery-center{
     flex:1;
     display: flex;
     flex-direction: column;    
     width:100%;

   // background-color: red;
}

.gallery-right{
    flex:1;
    display: flex;
}
.gallery-header{
    font-weight:700;
    margin-top: 64px;
    display: flex;
    font-size: 26px;
    margin-left:90px;
    margin-bottom: 23.5px;
}

.img-container{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
 //   background-color: blue;
}

.gallery-content{
    width:100%;

    display:flex;
   

  // background-color: greenyellow;
    flex-direction: column;
    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-color: #707070;
   
}
.gallery-body{
    margin-top: 80px;
    margin-bottom: 230px;
}
.gal-field{
    
    display: flex;
   // background-color: red;
    
    margin-bottom: 10px;
   
}
.galPhoto{
    
    display: flex;
    margin-right: 5px;
    justify-content: center;
}
.galImg{
    margin-bottom: 25px;
    margin-left:30px;
    width:573px;
    height:324px;
    object-fit: contain;
   
}
.gal-name{
    display: flex;
    flex-direction: column;
    font-size:23px;
    font-family: 'Segoe UI';
    opacity: 1;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

@media screen and(max-width: 768px){
    .gallery{
        display: flex;
        width:100%;
      
    }
    
    .gallery-left{
        flex:1;
        display: flex;
        width:100%;
    }
    
    .gallery-center{
         flex:1;
         display: flex;
         flex-direction: column;    
         width:100%;
    
       // background-color: red;
    }
    
    .gallery-right{
        flex:1;
        display: flex;
        width:100%;
    }
    .gallery-header{
        width:100%;
        margin-top: 32px;
        display: flex;
        font-size: 20px;
        margin-left:0px;
        margin-bottom: 23.5px;
    }
    
    .img-container{
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
      //  background-color: blue;
        width:100%;
    }
    
    .gallery-content{
        width:100%;
    
        display:flex;
       
    
     //  background-color: greenyellow;
        flex-direction: column;
        border-style: solid;
        border-top-width:1px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:0px;
        border-color: #707070;
       
    }
    .gallery-body{
        width:100%;
        margin-top: 40px;
        margin-bottom: 230px;
    }
    .gal-field{
        width:100%;
        display: flex;
      //  background-color: red;
        flex-direction: column;
        margin-bottom: 0px;
       
    }
    .galPhoto{
        width:100%;
        display: flex;
        margin-right: 0px;
        justify-content: center;
      
    }
    .galImg{
        margin-bottom: 0px;
        margin-left:0px;
        width:100%;
       
        object-fit: contain;
       
    }
    .gal-name{
        display: flex;
        flex-direction: column;
        font-size:18px;
        font-family: 'Segoe UI';
        opacity: 1;
        justify-content: center;
        text-align: center;
        margin-bottom: 0px;
    }
    
}