.intern{
    display:flex;
    flex-direction: column;
    //background-color: bisque;
   
    font-weight:500;        
}

.intern-header{
  
    
    display: flex;
    font-size: 26px;
    flex-direction: column;
   // background-color: green;
    
    
}



.intern-info{
   // margin-left:50px;
    display: flex;
    border-top: solid;
    border-top-width: 1px;
    
   
    flex-direction: column;
}


.iilt{
   
  
    color:#002650;
    font-weight: 700;
    display:flex;
    justify-content: start;
    font-size: 24px;
    font-family: 'Roboto';
  
    opacity: 1;
   
    margin-top: 63.5px;
    margin-left:38px;
   

}
.iild{
    margin-left:10px;
    margin-top: 3px;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 20px;
   
}
.iil{
    
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 40px;
    margin-left:38px;
}


@media screen and(max-width: 768px){
    .intern{
        display:flex;
        flex-direction: column;
        //background-color: bisque;
       
        font-weight:500;        
    }
    
    .intern-header{
      
        
        display: flex;
        font-size: 26px;
        flex-direction: column;
       // background-color: green;
        
        
    }
    
    
    
    .intern-info{
       // margin-left:50px;
        display: flex;
        border-top: solid;
        border-top-width: 1px;
        
       
        flex-direction: column;
    }
    
    
    .iilt{
       
      
        color:#002650;
        font-weight: 700;
        display:flex;
        justify-content: start;
        font-size: 24px;
        font-family: 'Roboto';
      
        opacity: 1;
       flex-direction: column;
        margin-top: 63.5px;
        margin-left:38px;
       
    
    }
    .iild{
        margin-left:10px;
        margin-top: 3px;
        font-size: 20px;
        font-family: 'Segoe UI';
        margin-bottom: 20px;
       
    }
    .iil{
        
        font-size: 20px;
        font-family: 'Segoe UI';
        margin-bottom: 40px;
        margin-left:38px;
    }
}