.intern{
    display:flex;
    flex-direction: column;
 //  background-color: bisque;
    margin-right: 319.5px;
    font-weight:500;
}

.intern-header{
  
    
    display: flex;
    font-size: 26px;
    flex-direction: column;
   // background-color: green;
    
    
}



.intern-info{
   // margin-left:50px;
    display: flex;
    border-top: solid;
    border-top-width: 1px;
    
    padding:5px;
    flex-direction: column;
}


.iilt{
    font-size: 24px;
    margin-bottom:10px;
    margin-left: 70px;
    color:#002650;
    font-weight: 700;
}
.iil{
    
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 40px;
    margin-left: 100px;
}


@media screen and(max-width: 768px){
    .intern{
        display:flex;
        flex-direction: column;
     //  background-color: bisque;
        margin-right: 0px;
        font-weight:500;
    }
    
    .intern-header{
      
        
        display: flex;
        font-size: 20px;
        flex-direction: column;
       // background-color: green;
        
        
    }
    
    
    
    .intern-info{
       // margin-left:50px;
        display: flex;
        border-top: solid;
        border-top-width: 1px;
        
        padding:0px;
        flex-direction: column;
    }
    
    
    
    .iil{
        margin-top:20px ;
        font-size: 15px;
        font-family: 'Segoe UI';
        margin-bottom: 29px;
        margin-left:35px;
    }
}