.bspl{
   // background-color: skyblue;
    margin-top: 22.5px;
    
    border-style: solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    display: flex;

   // background-color: black;
    align-self: center;

    
}

.bsp-title{
    margin-right: 10px;

   // background-color: lime;
    font-size:25px;
    font-family: 'Segoe UI';
    color: #002650;
    font-weight:700;
    margin-bottom: 20px;
    margin-top:20px;
    
    display: flex;
    width: 100%;
}


.cd-container{
    display: flex;
    max-width: 100%;
    width:100%;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
    
  //  background-color: aqua;
}

.layout{
    display: flex;
    width: 100%;
    height: 100%;
    
    
    
}
.bspImg{
    display: flex;
    margin-top: 0px;;
    width:100%;
     object-fit: contain;
  
   //  margin-right: 30px;
 }
.bar-rightcd{
   
    display:flex;
    margin-top: 120px;
   
    object-fit:cover;
    width:9px;
    height:208px;
    
    
}

.bar-leftcd{
    display:flex;
    margin-top: 120px;
    
    object-fit:cover;
    width:9px;
    height:208px;
    border-style: none;
    border-width: 0px;
    border-color: none;
    
}

@media screen and(max-width:768px) {

    .layout{
        display: flex;
        width:100%;
     //   background-color: red;
    }

     
    
     .bspImg-container{
        margin-top: 0px;
        width:10px;
        display:flex;
        flex-direction: column;
        margin-left: 0px;
     }
     .bspImg{
        margin-top: 0px;;
        width:100%;
         object-fit: contain;
        margin-left: 0px;
       //  margin-right: 30px;
     }
     
     .cd-container{
         display: flex;
         width:100%;
         
         flex-direction: column;
         margin-bottom: 0px;
         margin-right: 0px;
         
     }
     
    
     .bar-rightcd{
     
         margin-top: 120px;
         display: flex;
         object-fit:cover;
             //width:9px;
             width:0px;
         height:0px;
         
      
     }
     
     .bar-leftcd{
         display:flex;
         margin-top: 120px;
         display: flex;
         object-fit:cover;
         width:0px;
         height:0px;
      
     }
     .bsp-all{
        display: flex;
        
        flex-direction: column;
        margin-left: 0px;
      //  background-color: yellow;
        width: 90%;
        height: 100%;
        align-self: center;
    }
    
    .bspl{
       // background-color: skyblue;
        margin-top: 22.5px;
        border-style: solid;
        border-top-width:0px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:1px;
        border-color: #707070;
        display: flex;
        flex-direction: column;
    }
    
    .bsp-title{
        margin-right: 10px;
    
      //  background-color: lime;
        font-size:15px;
        font-family: 'Segoe UI';
        color: #002650;
        font-weight:700;
        margin-bottom: 20px;
        margin-top:20px;
    }
}