.staffs{
    display:flex;
    flex-direction: column;
   // background-color: bisque;
     margin-right: 319.5px;
    
     width:100%;
}

.staffs-header{
  //  background-color: aquamarine;
    //margin-left:50px;
    display: flex;
    font-size: 26px;
    flex-direction: column;
    font-weight:700;
}
.staffs-title{
    display:flex;
    margin-left:50px;
    margin-bottom: 23.5px;
   
    width:100%;
}



.staffs-profile{
   // margin-left:50px;
    border-color: #707070;
    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
//  background-color: aqua;
    display:flex;
    width:100%;
    justify-content: center;
}

.staffs-left{
    margin-top:23.5px;
    flex:1;
    display: flex;
    flex-direction: column;
  
   // background-color: yellow;
}
.staffs-course{
display:flex;
justify-content: start;
 font-size:22px;
 font-family: 'Roboto';
 color: #002650;
 opacity: 1;
 font-weight: 1000;
 margin-top: 40px;
 margin-left:38px;
 margin-bottom: 22.6px;
}
.staffsImg{
    width:212px;
    height: 276px;
    justify-self: center;
    
    display: flex;
   // background-color: aquamarine;
}
.staffs-photo{
  
        display:flex;
        justify-content: center;

}


.staffs-right{
    margin-top:23.5px;
  
    flex:2;
    display: flex;
    flex-direction: column;
}
.staffs-name{
   // background-color: skyblue;
    font-size:26px;
    font-weight: 700;
    font-family: 'Roboto';
    margin-left: 10px;
    margin-bottom: 17px;
   // display: flex;

}
.staffs-pos{
    font-size:23px;
    
    
 
}
.staffs-eng{
    margin-left: 20px;
    font-size: 23px;
}

.staffs-field{
    border-style: solid;
    border-color:#707070;
    border-left-width: 0 ;
    border-right-width: 0 ;
    border-top-width: 1px;
    border-bottom-width: 0;
    display:flex;
    flex-direction: column;
    padding-top: 37px;

   // background-color: blue;
}

.staffs-edu{
    margin-left: 10px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.staffs-edul1{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 29px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

.staffs-ri{
    margin-left: 10px;
  
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.staffs-ril{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

.staffs-contact{
    margin-left: 10px;
  
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.staffs-contactl{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

@media screen and(max-width: 768px){
    .staffs{
        
        width:100%;
        display:flex;
        flex-direction: column;
      //  background-color: bisque;
         margin-right: 0px;
        
    }
    
    .staffs-header{
        margin-top: 10px;
        //background-color: blue;
         margin-left:0px;
      //  background-color: aquamarine;
        //margin-left:50px;
        display: flex;
        font-size: 25px;
        flex-direction: column;
       
        width:100%;
    }
    .staffs-title{
        display:flex;
        margin-left:0px;
        margin-bottom: 23.5px;
        font-weight:700;
        width:80%;
    }
    
    
    
    .staffs-profile{
       // margin-left:50px;
        border-color: #707070;
        border-style: solid;
        border-top-width:1px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:0px;
     //    background-color: aqua;
        flex-direction: column;
        display:flex;
        width:90%;
      
    }
    
    .staffs-left{
        margin-top:0px;
        flex:1;
        display: flex;
        flex-direction: column;
        width:100%;
     //   background-color: yellow;
    }
    .staffs-course{
    display:flex;
      font-size:22px;
     font-family: 'Roboto';
     color: #002650;
     opacity: 1;
     font-weight: 1000;
     margin-top: 0px;
     margin-left:0px;
     margin-bottom: 0px;
    }
    
    .staffs-photo{
        display:flex;
        justify-content: center;
        margin-left:0px;
        width:80%;
    }
    .staffsImg{
        display: flex;
        
        width:100%;
        object-fit: contain;
        
    }
    
    .staffs-right{
        margin-top:23.5px;
      
        flex:2;
        display: flex;
        flex-direction: column;
    }
    .staffs-name{
       // background-color: skyblue;
       font-size:18px;
       font-weight: 700;
       font-family: 'Roboto';
       margin-left: 10px;
     
       margin-bottom: 17px;
    
    }
    .staffs-pos{
        font-size:18px;
        
        
     
    }
    .staffs-eng{
        margin-left: 20px;
        font-size: 23px;
    }
    
    .staffs-field{
        border-style: solid;
        border-color:#707070;
        border-left-width: 0 ;
        border-right-width: 0 ;
        border-top-width: 1px;
        border-bottom-width: 0;
        display:flex;
        flex-direction: column;
        padding-top: 10px;
    
       // background-color: blue;
    }
    
    .staffs-edu{
        margin-left: 10px;
        font-size: 16px;
        color:#002650;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .staffs-edul1{
        margin-left: 0px;
        font-size: 16px;
        margin-bottom: 29px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
    }
    
    .staffs-ri{
        margin-left: 0px;
        //  background-color: skyblue;
        font-size: 16px;
          color:#002650;
          opacity: 1;
          font-weight: 700;
          margin-bottom: 29px;
    }
    
    .staffs-ril{
       //  background-color: skyblue;
       margin-left: 0px;
       //margin-right: 120px;
       font-size: 16px;
       font-family: 'Roboto' ;
       margin-bottom: 29px;
    }
    
    .staffs-contact{
        margin-left: 0px;
        //   background-color: skyblue;
        font-size: 18px;
           color:#002650;
           opacity: 1;
           font-weight: 700;
           margin-bottom: 29px;
    }
    
    .staffs-contactl{
        margin-left: 0px;
        font-size: 14px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
    }
}