.members{
   
    display:flex;
    
   // background-color: orange;
    margin-bottom: 200px;
    width:1920px;
}

.membersLeft{
    flex:1;
    margin-top:64px;
    margin-bottom: 200px;
     //background-color: greenyellow;
 
    height:100%;
  
}

.membersRight{
    flex:5;
    height:100%;
    margin-top:64px;
   
  //background-color: red;
    
}

@media screen and(max-width: 768px){
    .members{
   
        display:flex;
        
       // background-color: orange;
        margin-bottom: 0px;
        width:100%;
        
    }
    
    .membersLeft{
        flex:1;
        width: 100%;
        margin-top:0px;
        margin-bottom: 0px;
    
     //   background-color: greenyellow;
     
      
      
    }
    
    .membersRight{
        flex:5;
        width: 100%;
       
        margin-top:0px;
       
      //background-color: red;
        
    }
   
   
}
    
    

