.members{
   
    display:flex;
    
    background-color: orange;
    
    margin-bottom:200px;
    
    width:100%;
    height:100%;

}

.membersLeft{
    flex:1;
    
    
    background-color: greenyellow;
    margin-bottom:200px;
    height:100%;
}

.membersRight{
    flex:5;
   
    
    height: 100%;
    background-color: lightcoral;
    
}