.members{
   
    display:flex;
    
   // background-color: orange;
   
   
    margin-bottom: 200px;
    width:100%;
   


}

.membersLeft{
    flex:1;
    margin-top:64px;
    margin-bottom: 200px;
     //background-color: greenyellow;
 
    height:100%;
  
}

.membersRight{
    flex:5;
    height:100%;
    margin-top:64px;
   
  //background-color: red;
    
}