.research{
    display:flex;
   // background-color: orange;
   
    margin-bottom: 200px;
    
    width:1920px;
}

.researchLeft{
    flex:1;
 //   background-color: greenyellow;
    margin-top: 64px;
    margin-bottom:200px;
    height:100%;
}

.researchRight{
    flex:5;
    
  //  background-color: lightcoral;
    height: 100%;
    margin-top: 64px;
}

@media screen and(max-width:768px) {
    .research{
        display:flex;
        background-color: orange;
       
        margin-bottom: 0px;
        
        width:100%;
    }
    
    .researchLeft{
        flex:1;
     //   background-color: greenyellow;
        margin-top: 0px;
        margin-bottom:0px;
        width:100%;
    }
    
    .researchRight{
        flex:5;
        
      //  background-color: lightcoral;
      width:100%;
        margin-top: 0px;
    }
    
}