.student{
    display:flex;
    flex-direction: column;
     margin-right: 319.5px;
     white-space: pre-wrap;
     width:100%;
}

.stu_header{

    display: flex;
    font-size: 26px;
 
   
}
.stu_title{
    font-weight:700;
    display:flex;
    margin-bottom: 23.5px;
    width:100%;
    margin-left:50px;
}

