.researches{
    width:1920px;
  //  background-color: lightcoral;
    display:flex;
    align-items:center;
  
    justify-content: center;
}

.researchesInfo{
   
    display:flex;
    width:100%;
    align-items:center;
    justify-content: center;
    margin-left: 353px;
    margin-right: 341px;
    flex-direction: column;
   // background-color: blueviolet;
}

.researchesLeft
{
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
    justify-content: center;
  //  background-color: red;
}

.researchesCenter
{
    justify-content: center;
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
  
  //  background-color: greenyellow;
}
.researchesRight
{
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
    justify-content: center;
 //   background-color: yellow;
}
.researchesLast
{
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
    justify-content: center;
 //   background-color: yellow;
}


.researchesImg{
    display:flex;
    width:100%;
    height:735px;
    margin-left: 393px;
    margin-right: 393px;
    background-color: lightgray;
}
.researchesTitle{
    padding:17px;
    display: flex;
    font-size: 30px;
    height:71px;
    align-items: center;
    margin-right:800px;
    color:white;
    font-family: 'Segoe UI', sans-serif;
    opacity: 1;
    background-color: #858B96;
    margin-bottom: 17px;
}
