.researches{
    width:100%;
  //  background-color: lightcoral;
    display:flex;
    align-items:center;
    
    justify-content: center;
}

.researchesInfo{
   
    display:flex;
    width:100%;
    align-items:center;
    justify-content: center;
    margin-left:320px;
    margin-right:322px;
   // background-color: blueviolet;
}

.researchesLeft
{
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
    
  //  background-color: red;
}

.researchesCenter
{
    
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
  //  background-color: greenyellow;
}
.researchesRight
{
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
  
 //   background-color: yellow;
}

.researchesImg{
    
    width:413px;
    height:337px;
    
    background-color: lightgray;
}
.researchesTitle{
    padding:20px;
    display: flex;
    font-size: 30px;
    height:71px;
    align-items: center;
    justify-content: center;    
    color:white;
    font-family: 'Segoe UI', sans-serif;
    opacity: 1;
    background-color: #858B96;
    margin-bottom: 17px;
}
