.researches{
    width: 100%;
  // background-color: lightcoral;
    display:flex;
    align-items:center;
  
   
}

.researchesInfo{
   
    display:flex;
    width:100%;
    align-items:center;
   // justify-content: center;
   
   
   // flex-direction: column;
   // background-color: blueviolet;
}

.researchesLeft
{
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
  width:100%;
  //  background-color: red;
}

.researchesCenter
{
    justify-content: center;
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
    width:100%;
  //  background-color: greenyellow;
}
.researchesRight
{
  width:100%;
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
    justify-content: center;
 //   background-color: yellow;
}
.researchesLast
{
    display:flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    align-items: center;
    justify-content: center;
 //   background-color: yellow;
}


.researchesImg{
    display:flex;
    width:100%;
    height:349px;
   
    
    background-color: lightgray;
}
.researchesTitle{
    //padding:17px;
    width: 100%;
    display: flex;
    font-size: 26px;
    justify-content: center;
    height:71px;
    align-items: center;
  
   // justify-self: start;
    color:white;
    font-family: 'Roboto';
    opacity: 1;
    background-color: #002a5c;
    margin-bottom: 0px;
}


@media screen and(max-width: 768px){

  .researches{
    width:100%;
  //background-color: lightcoral;
    display:flex;
    
  
   
}

.researchesInfo{
   
    display:flex;
    width:100%;
    
   // justify-content: center;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    //background-color: blueviolet;
}

.researchesLeft
{
  width: 100%;
  display:flex;
    flex-direction: column;
    padding:0;
    flex:1;
    justify-content: center;
 
  //  background-color: red;
}

.researchesCenter
{
  width: 100%;
  display:flex;
  flex-direction: column;
  padding:0;
  flex:1;
  
  
  //  background-color: greenyellow;
}
.researchesRight
{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding:0;
    flex:1;
    
 //   background-color: yellow;
}
.researchesLast
{
  width: 100%;
  display:flex;
  flex-direction: column;
  padding:0;
  flex:1;
 //   background-color: yellow;
}


.researchesImg{
    display:flex;
    width:80%;
   
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: lightgray;
}
.researchesTitle{
    padding:0px;
    display: flex;
    font-size: 22px;
    height:71px;
   margin-top: 10px;
    margin-right:0px;
    padding:5px;
   // justify-self: start;
    color:white;
    font-family: 'Roboto';
    opacity: 1;
    background-color: #002a5c;

    margin-bottom: 10px;
}


  
} 