.memberSide{
    //background-color: skyblue;
    margin:10px;
    display: flex;
    flex-direction: column;
}


.title_member{
    display:flex;
    font-size: 27px;
    opacity: 1;
    font-weight: 1000;
    flex-direction: column;
   // border-style: solid;

    width:208px;
   
    margin-left:51px;
}
.title_border{
    display:flex;
    
}
.title_left{
    border-style: solid;
    width:104px;
    border-color:#002650;
}
.title_right{
     
    width:104px;
    background-color: #FFC341;
}

.memberList{
    display:flex;
    left:0;
    
   // background-color: pink;
    margin-left: 10px;
}

.memberContent{
    
    display:flex;
    flex-direction: column;
    
    list-style: none;
    margin-top: 51px;
  
   // background-color: green;
}

.memberListItem{
    
    font-size:22px;
    width:208px;
    margin-bottom: 33px;
    font-family: 'Segoe UI';
    font-weight: 700;
    opacity: 1;
    cursor:pointer;
    border-style: solid;
    height: 46.5px;
    border-top-width: 0;
    border-left-width:0;
    border-right-width:0;
    border-bottom-width:1px;
    border-color: #FFC341;
    
}

.memberSmallItem{
    font-size: 22px;
    margin-left: 38px;
    margin-bottom:26px;
    border-style: solid;
    border-top-width: 0;
    border-left-width:0;
    border-right-width:0;
    border-bottom-width:1px;
    border-color: #FFC341;
    font-family: 'Segoe UI';
    opacity: 1;
    font-weight: 600;
    cursor:pointer;
}
@media screen and(max-width: 768px){

    .memberSide{
        //background-color: skyblue;
        margin:0px;
        width:100%;
        display: flex;
        flex-direction: column;
    }
    
    
    .title_member{
        display:flex;
        font-size: 20px;
        opacity: 1;
        font-weight: 1000;
        flex-direction: column;
       // border-style: solid;
    
        width:100%;
       
        margin-left:0px;
    }
    .title_border{
        display:flex;
        width:100%;
    }
    .title_left{
        border-style: solid;
        width:48px;
        border-color:#002650;
    }
    .title_right{
         
        width:48px;
      //  background-color: #FFC341;
    }
    
    .memberList{
        display:flex;
        
        width:100%;
   
      //  background-color: pink;
        margin-left: 0px;
    }
    
    .memberContent{
        
        display:flex;
        flex-direction: column;
        width:100%;
        list-style: none;
        margin-top: 26px;
        margin-left: 0;
      //  background-color: green;
    }
    
    .memberListItem{
        
        font-size:18px;
        width:100%;
        //width:104px;
        margin-bottom: 17px;
        font-family: 'Segoe UI';
        font-weight: 700;
        opacity: 1;
        
        
        cursor:pointer;
        border-style: solid;
        height: 46.5px;
        border-top-width: 0;
        border-left-width:0;
        border-right-width:0;
        border-bottom-width:1px;
        border-color: #FFC341;
      // background-color: red;
    }
    
    .memberSmallItem{
        font-size: 12px;
        width:100%;
        margin-left: 0px;
       
        margin-bottom:26px;
        border-style: solid;
        border-top-width: 0;
        border-left-width:0;
        border-right-width:0;
        border-bottom-width:1px;
        border-color: #FFC341;
        font-family: 'Segoe UI';
        opacity: 1;
        font-weight: 600;
        
        cursor:pointer;
    }
}