.professor{
    display:flex;
    flex-direction: column;
  // background-color: bisque;
    margin-right: 319.5px;
}

.prof-header{
    
    position: sticky;
    top:150px;    
    z-index: 1; 
    display: flex;
    font-size: 26px;
    flex-direction: column;
    font-weight:700;
    background-color: white;
    
    
}
.header-title{
    
   display: flex;
   margin-left:50px;
   margin-bottom: 23.5px;
}

.prof-scrollMenu{
    
  
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;
    font-family: 'Roboto' ;
  
   //background-color: red;
}
.profList{
    
    font-size: 22px;
    list-style: none;
    display:flex;
    width: 100%;
    justify-content: space-around;
    font-family: 'Roboto' ;
    margin-left: 80px;
    cursor:pointer;
    font-weight: 1000;
  // background-color: red;
    
}
.profListItem{
    //background-color: red;
    font-family: 'roboto' ;
    display: flex;
}

.prof-profile{
    margin-bottom: 53.5px;
    margin-left:91px;
    display: flex;
   // background-color: aqua;
    padding:5px;
    justify-content: center;
    
    
}

.prof-summary{
    display: flex;
    flex-direction: column;
  // background-color: red;
    margin-left: 37px;
    
    
   // height:301px;
    
    width:100%;
    
}
.research-interest{
    display:flex;
    flex-direction: column;
   // background-color: blue;
    
}
.prof-photo{
    display: flex;
  
}
.profImg{
    margin-top:15px;
    display: flex;
    justify-self: center;
    object-fit: cover;
    width:288px;
    height:350px;
}

.prof-name{
    
    font-size: 26px;
   // font-family: 'Segoe UI';
    opacity:1;
    font-weight: 700;
    font-family: 'Roboto' ;
    margin-top:15px;
    margin-bottom: 10px;
    
 //   background-color: pink;
}
.prof-pos{
    font-size:23px;
    font-family: 'Roboto' ;
    
}
.prof-eng{
    margin-left: 20px;
    font-size:23px;
    font-family: 'Roboto';
}

.prof-field{

    border-style: solid;
    border-color:#707070;
    border-left-width: 0 ;
    border-right-width: 0 ;
    border-top-width: 1px;
    border-bottom-width: 0;
    display:flex;
  //  background-color: green;
    flex-direction: column;
    padding-top: 37px;
    
   
    
}

.fos-container{
    display:flex;
    
}

.fos{
  
    display: flex;
    font-size: 20px;
    font-family: 'Roboto' ;
    opacity:1;
    font-weight: 700;
    
}
.fosCont{
    display: flex;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    opacity:1;
   
    
}
.email-container{
    display: flex;
}

.prof-email{
    font-size: 20px;
    font-family: 'Roboto' ;
    opacity:1;
    font-weight: 700;
    display: flex;
}
.prof-emailCont{
    font-size: 20px;
    font-family: 'Roboto' ;
    opacity:1;
    margin-left: 10px;
    display: flex;
}

.loc-container{
    display:flex;
}

.loc{
    font-size: 20px;
    font-family: 'Roboto' ;
    opacity:1;
    font-weight: 700;
    display: flex;
}
.locCont{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    opacity:1;
   
    display: flex;
}

.tel-container{
    display: flex;
}

.tel{
    display: flex;
    font-size: 20px;
    font-family: 'Roboto' ;
    opacity:1;
    font-weight: 700;
    
}
.telCont{
    display: flex;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    opacity:1;
}

.ri{
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
}

.ril{
    display: flex;
    font-size: 20px;
    font-family: 'Roboto' ;
   // background-color: blue;
}






.main-career{
    
    margin-left:50px;
    display: flex;
    border-top: solid;
    border-top-width: 1px;
    
    padding:5px;
    justify-content: space-between;
   
}

.mc-container{
    flex-direction: column;
    display: flex;
    
  
}
.bar-right{
    
    margin-top: 80px;
    display: flex;
    object-fit:cover;
    //width:9px;
    height:208px;
}

.bar-left1{
    
    margin-top: 100px;
    display: flex;
    object-fit:cover;
    width:9px;
    height:208px;
}
.bar-left2{
    
    margin-top: 10px;
    display: flex;
    object-fit:cover;
    width:9px;
    height:208px;
}

.bar-left3{
    
    margin-top: 60px;
    display: flex;
    object-fit:cover;
    width:9px;
    height:208px;
}
.mc{
    display:flex;
    margin-top: 29px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
    margin-left:70px;
   
}


.mcl{
    display: flex;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
    margin-left:70px;
}


.other-career{
    margin-left:50px;
    display: flex;
   
    padding:5px;
    //flex-direction: column;
    
}

.oc{
   
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
    margin-left: 70px;
    margin-top: 34px;
  
   
}
.oc-container{
    flex-direction: column;
    display: flex;
    
  
}
.ocl{
   
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
    margin-left: 70px;
}

.edu-career{
    margin-left:50px;
    
    display: flex;
   
    padding:5px;
    justify-content: space-between;
   
}
.edu-container{
    flex-direction: column;
    display: flex;
    
  
}
.ec{
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
    margin-left: 70px;
   
}

.ecl{
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
    margin-left: 70px;
}



.scolarship-career{
  
    margin-left:50px;
    display: flex;
   
    padding:5px;
   // flex-direction: column;

}
.sc-container{
    flex-direction: column;
    display: flex;
}
.sc{
    margin-left: 70px;
    margin-left: 70px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
}

.scl{ 
    margin-left: 70px;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}

.research-subject{
    
    margin-left:50px;
    display: flex;
   
    padding:5px;

    margin-top: 30px;
}
.rs-container{
    display: flex;
    flex-direction: column;
}

.rs{
    margin-left: 70px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.rsl{
    margin-left: 70px;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}
.rslt{
    margin-left: 70px;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
    font-weight: 700;
}


.reward-career{
    
    margin-left:50px;
    display: flex;
   
    padding:5px;
 //   flex-direction: column;
    
}
.rec-container{
    flex-direction: column;
    display: flex;
}

.rec{
    margin-left: 70px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.recl{
    margin-left: 70px;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}

.book-career{
    
    margin-left:50px;
    display: flex;
   
    padding:5px;
  //  flex-direction: column;

}
.book-container{
    flex-direction: column;
    display: flex;
}


.bc{
    margin-left: 70px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.bcl{
    margin-left: 70px;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}

.intell-career{
    
    margin-left:50px;
    display: flex;
   
    padding:5px;
   // flex-direction: column;

}
.intell-container{
    display: flex;
    flex-direction: column;

}

.ic{
    margin-left: 70px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.icl{
    margin-left: 70px;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}

@media screen and(max-width: 768px){
    .professor{
        display: flex;
        width: 100%;
        margin: 0;
    // background-color: blue;
        
    }
    
.prof-header{
    margin: 0;
    position: sticky;
    width: 100%;
    z-index: 1; 
    display: flex;
    margin-left:0px;
    flex-direction: column;
    font-weight:700;
   // background-color: green;
    font-size: 17px;
    
}
.header-title{
    
    display: flex;
    font-size: 22px;
    width: 100%;
    margin: 0;
 }
 .profList{
    
    font-size: 12px;
    list-style: none;
    display:flex;
    width: 100%;
    font-family: 'Roboto' ;
    margin:0;
   
    cursor:pointer;
   
   // background-color: red;
    
}
    .prof-scrollMenu{
    
      
        display: flex;
        width:100%;
       
        padding:0;
        border-style: solid;
        border-top-width:1px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:1px;
        border-color: #707070;
        font-family: 'Roboto' ;
      
    }
    .profListItem{
       // background-color: green;
        font-family: 'roboto' ;
        display: flex;
        width: 100%;
         margin: 0;
    }
    .prof-profile{
        width: 100%;
        display: flex;
        flex-direction: column;
       // background-color: aqua;
        margin-left: 0px;
    }
    .prof-summary{
        display: flex;
        flex-direction: column;
        margin: 0px;
      //  background-color: pink;
        width:100%;
        
        
    }
    .prof-photo{
        display: flex;
        width:100%;
        
        
    }
    .profImg{
        
        display: flex;
        
        object-fit: contain;
        width:100%;
     
    
    }
  
    .prof-name{
        width:100%;
        font-size: 16px;
       // font-family: 'Segoe UI';
        opacity:1;
        font-weight: 700;
        font-family: 'Roboto' ;
       
        
     //   background-color: pink;
    }
    .prof-pos{
        font-size:14px;
        font-family: 'Roboto' ;
        
    }
    .prof-eng{
       
        font-size:16px;
        font-family: 'Roboto';
    }
    .prof-field{
        padding-top: 0px;
        width: 100%;
        border-style: solid;
        border-color:#707070;
        border-left-width: 0 ;
        border-right-width: 0 ;
        border-top-width: 1px;
        border-bottom-width: 0;
        display:flex;
      //  background-color: green;
        flex-direction: column;
      
        
       
        
    }

    .fos-container{
        display:flex;
        width: 100%;
        flex-direction: column;
    }
    
    .fos{
        
        display: flex;
        font-family: 'Roboto' ;
        opacity:1;
        font-weight: 700;
        font-size: 17px;
    }
    .fosCont{
        display: flex;
        
        font-size: 17px;
        font-family: 'Roboto' ;
        opacity:1;
       
        
    }
    .email-container{
        display: flex;
        width:100%;
        flex-direction: column;
    }
    
    .prof-email{
        
        font-size: 17px;
        font-family: 'Roboto' ;
        opacity:1;
        font-weight: 700;
        display: flex;
    }
    .prof-emailCont{
        font-size: 17px;
        font-family: 'Roboto' ;
        opacity:1;
        margin-left: 10px;
        display: flex;
    }
    
    .loc-container{
        display:flex;
        width:100%;
        flex-direction: column;
    }
    
    .loc{
        font-size: 17px;
        font-family: 'Roboto' ;
        opacity:1;
        font-weight: 700;
        display: flex;
    }
    .locCont{
       
        font-size: 17px;
        font-family: 'Roboto' ;
        opacity:1;
       
        display: flex;
    }
    
    .tel-container{
        display: flex;
        width:100%;
        flex-direction: column;
    }
    
    .tel{
        display: flex;
        font-size: 17px;
        font-family: 'Roboto' ;
        opacity:1;
        font-weight: 700;
        
    }
    .telCont{
        display: flex;
        font-size: 17px;
        
        font-family: 'Roboto' ;
        opacity:1;
    }
    .research-interest{
        display:flex;
        flex-direction: column;
        width:100%;
        
       // background-color: blue;
        
    }
    .ri{
        display: flex;
        
        font-size: 17px;
        color:#002650;
        opacity: 1;
        font-weight: 700;
    }
    
    .ril{
        display: flex;
        font-size: 13px;
        font-family: 'Roboto' ;
       // background-color: blue;
    }
    
.main-career{
    
    margin-left:0;
    display: flex;
    border-top: solid;
    border-top-width: 1px;
    margin-left: 0;
    
   
}
.mc-container{
    flex-direction: column;
    display: flex;
    margin-left: 0;
  
}
.mc{
    display:flex;
    margin-top: 29px;
    font-size: 17px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
    margin-left:0px;
   
}
.mcl{
    display: flex;
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
    margin-left:0px;
}
.other-career{
    
    display: flex;
    margin-left: 0;
  
    //flex-direction: column;
    
}

.oc{
   
    font-size: 17px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    
    margin-bottom: 29px;
    margin-left: 0;
    margin-top: 34px;
  
   
}
.oc-container{
    flex-direction: column;
    display: flex;
    margin-left: 0;
  
}
.ocl{
   
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
    margin-left: 0px;
}

.edu-career{
    margin-left:0px;
    
    display: flex;
   
   
   
}
.edu-container{
    flex-direction: column;
    display: flex;
    margin-left: 0px;
  
}
.ec{
    font-size: 17px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
    margin-left: 0px;
   
}

.ecl{
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
    margin-left: 0px;
}



.scolarship-career{
  
    display: flex;
    margin-left: 0;
   // flex-direction: column;

}
.sc-container{
    flex-direction: column;
    display: flex;
    margin-left: 0;
}
.sc{
    margin-left: 0px;
    
    font-size: 17px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
}

.scl{ 
    margin-left: 0px;
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}

.research-subject{
    
    margin-left:0px;
    display: flex;
   
    

    margin-top: 30px;
}
.rs-container{
    display: flex;
    flex-direction: column;
}

.rs{
    margin-left: 0px;
    font-size: 17px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.rsl{
    margin-left: 0px;
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}
.rslt{
    margin-left: 0px;
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
    font-weight: 700;
}


.reward-career{
    
    
    display: flex;
    margin-left: 0;
 //   flex-direction: column;
    
}
.rec-container{
    flex-direction: column;
    display: flex;
    margin-left: 0;
}

.rec{
    margin-left: 0;
    font-size: 17px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.recl{
    margin-left:0px;
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}

.book-career{
    
    margin-left:0px;
    display: flex;
 
  //  flex-direction: column;

}
.book-container{
    flex-direction: column;
    display: flex;
}


.bc{
    margin-left: 0px;
    font-size: 17px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.bcl{
    margin-left: 0px;
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}

.intell-career{
    
    margin-left:0px;
    display: flex;
   
    
   // flex-direction: column;

}
.intell-container{
    display: flex;
    flex-direction: column;

}

.ic{
    margin-left: 0px;
    font-size: 17px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.icl{
    margin-left: 0px;
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-bottom: 29px;
}


}