.body{
    display:flex;   
    width: 100%;
    /* min-height: 1200px; */
    
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    
}




@media (max-width: 992px){

   


  

  }
  
  @media (max-width: 576px) {


   


  

  }