.introduce{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.introduceSet{
    display:flex;
    margin-left: 330px;
    margin-right: 330px;
    align-items: center;
    justify-content: center;
    background-color: orange;


}
.introLeft{
    flex:1;
    background-color: pink;
    display: flex;
    justify-content: center;
}

.introRight{
    flex:1;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}


.introduceImg{
    background-color: yellow;

    width:100%;

    height:100%;
}
.introduceInfo{
    background-color: white;
}