.introduce{
   
    display: flex;
    width: 100%;
    justify-content: center;
   // background-color: blue;
}

.introduceSet{
    display:flex;
   // margin-top:138px;
  //  margin-left: 353px;
  //  margin-right: 341px;
  //  margin-bottom: 173px;
   // align-items: center;
    width:100%;
    justify-content: center;
 //  background-color: orange;


}
.intro-container{
    display: flex;
    width:100%;
    flex-direction: column;
   // background-color: red;
}

.introLeft{
    flex:1;
    width:100%;
    display: flex;
    //padding:10px;
   justify-content: center;
}

.introRight{
    flex:2;
      margin-top:60px;
      margin-left: 353px;
      margin-right: 341px;
      margin-bottom: 80px;
    //border-style: solid;
    //border-top:0;
    //border-left-width: 0;
    //border-bottom-width: 0;
   // border-right-width:9px;
   // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    //background-color: green;
    //justify-content: center;
}


.introduceImg{
    //background-color: yellow;
    object-fit: contain;
    width:50%;
    
 
}
.introduceInfo{
   // margin-left:101px;
    font-size:30px;
    font-family:'Segoe UI';
    font-style: italic;
    margin-top: 50px;
    color: #002650;
    margin-bottom: 50px;
    opacity: 1;

   // background-color: red;
}

.introText{
    display:flex;
    font-family: 'Segoe UI';
    line-height:50px;
    font-size: 27px;
    color:#707070;
    opacity: 1;
    white-space: pre-wrap;
    justify-content: center;
    //background-color: blue;
}

.barImg{
    display: flex;
    object-fit:cover;
    width:9px;
    height:208px;
}
@media screen and(max-width: 768px){

    .introduce{
        display: flex;
        width:100%;
       
       
    }
    .introduceSet{
        display: flex;
        width:100%;
        margin:0;
       
    }
    .introduceImg{
        width:80%;
        
    }
    .introLeft{
        display: flex;
        width:100%;
      //  background-color: blue;
    }
    .barImg{
        display: flex;
        object-fit:cover;
        width:9px;
        height:208px;
        
    }
    .intro-container{
        display: flex;
        width:100%;
        flex-direction: column;
        
        
    }
    
    .introRight{
       
       
        margin-left: 0px;
        margin-right: 0px;
       
        display: flex;
        width:100%;
     //   background-color: red;
        justify-content: center;
        text-align: center;
        
    }
    
    .introduceInfo{
        
        width: 100%;
        font-size:20px;
        display: flex;
    }
    .introText{
        width: 100%;
        font-size: 12px;
        display: flex;
        
    }
   
  
    
} 