.journal{
    display:flex;
    flex-direction: column;
   // background-color: bisque;
    margin-right: 319.5px;
}

.journal-header{
  //  background-color: aquamarine;
   
    display: flex;
    font-size: 26px;
    flex-direction: column;
   
}
.journal-title{
    margin-left:50px;
    margin-bottom: 23.5px;
}
.journal-scrollMenu{
   
   // background-color: skyblue;
    display: flex;
    padding: 10px;
    justify-content: space-around;

    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;



}
.journalList{
    font-size: 22px;
    list-style: none;
    display:flex;
    width: 100%;
    justify-content: space-around;
   // background-color: pink;
    cursor:pointer;
}


.journal-profile{
 //   margin-right:200px ;
    margin-left:50px;
    background-color: aqua;
    padding:5px;
}

.journal2022{
 //   margin-right:200px ;
    margin-left:50px;
    background-color: yellowgreen;
    padding:5px;
}

.journal2021{
   // margin-right:200px ;
    margin-left:50px;
    background-color: yellow;
    padding:5px;

}

.journal2020{
    //margin-right:200px ;
    margin-left:50px;
    padding:5px;
    background-color: green;
}
.journal2019{
   // margin-right:200px ;
    margin-left:50px;
    padding:5px;
    background-color: skyblue;
}
.journal2018{
    //margin-right:200px ;
    margin-left:50px;
    padding:5px;
    background-color: blue;
}

.journalSearch{
    margin-left:50px;
    background-color: red;
}