.researchSide{
    
   margin:19px;
   display: flex;
   flex-direction: column;
   width: 100%;
}
  .title_research{
    font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
      display:flex;
      font-size: 27px;
      opacity:1;
      font-weight:1000;
      flex-direction: column;
      width:100%
      
  }
  
  .titleResearch_border{
      display:flex;
  }
  
  .titleResearch_left{
      border-style: solid;
      width:50%;
      border-color: #002650;
  }
  .titleResearch_right{
      width:50%;
      background-color: #FFC341;
  }
  
  
  .researchList{
      display:flex;
      left:0;
      width: 100%;
      padding-left: 10px;
  }
  
  .researchContent{
      display:flex;
      width: 100%;
      flex-direction: column;
      list-style: none;
      margin-top: 51px;

   
  }
  
  .researchListItem{
      font-size: 17px;
      width: 100%;
      margin-bottom: 33px;
      font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;  ;
      font-weight: 700;
      opacity: 1;
      cursor: pointer;
      border-style: solid;
      height: auto;
      border-top-width: 0;
      border-left-width:0;
      border-right-width:0;
      border-bottom-width:1px;
      border-color: #FFC341;
     

  }

  @media (max-width: 992px){

    
    .title_research{
        font-size: 1rem;
    
    
    }
    .researchSide{
    
        margin:24px;
       
       }

       
    .researchListItem{
        
        font-size:0.5rem;
        /* width:208px; */
        width: 100%;
        margin-bottom: 23px;
        font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;  ;
        font-weight: 700;
        opacity: 1;
        cursor:pointer;
        border-style: solid;
        height: auto;
        border-top-width: 0;
        border-left-width:0;
        border-right-width:0;
        border-bottom-width:1px;
        border-color: #FFC341;
        
        
    
    }

    .researchContent{
       
        margin-top: 25px;
  
     
    }
    

    }
    
    @media (max-width: 576px) {
        .researchSide{
    
            margin:20px;
            display: flex;
            flex-direction: column;
            width: 100%;
         }
        
           
           .titleResearch_border{
               display:flex;
           }
           
           .titleResearch_left{
               border-style: solid;
               width:50%;
               border-color: #002650;
           }
           .titleResearch_right{
               width:50%;
               background-color: #FFC341;
           }
           
           
           .researchList{
               display:flex;
               left:0;
               width: 100%;
               padding-left: 0;
           }
           
           .researchContent{
               display:flex;
               width: 100%;
               flex-direction: column;
               list-style: none;
               margin-top: 10px;
            
         
            
           }
           
          
    .title_research{
        font-size: 1.2rem;
    }
    
    .researchListItem{
        
        font-size:1rem;
        /* width:208px; */
        margin-bottom: 13px;
        height: auto;
    }
    

    }