.researchCD{
    display:flex;
    flex-direction: column;
  //  background-color: red;
    

    // margin-right: 319.5px;
    width: 100%;


}

.cd-header{
   // background-color: aquamarine;
    
    display: flex;
    width: 100%;
    font-size: 26px;
    font-family:'Roboto';
    font-weight: 700;
    flex-direction: column;
   
}
.cd-title{
    display: flex;

    margin-left:60px;
    margin-bottom: 23.5px;
    width: 100%;
}
.cd-scrollMenu{
    width: 100%;
    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;
  //  margin-left:0px;
 //   background-color: skyblue;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.cdList{
    font-size: 22px;
    list-style: none;
    display:flex;
    width: 100%;
    // margin-left: 242px;
    // margin-right: 272px;
    justify-content: space-around;
  //  background-color: pink;
    cursor:pointer;
}

.csd-all{
    display: flex;
    
    flex-direction: column;
    margin-left: 30px;
    //background-color: yellow;
    width: 90%;
    height: 100%;
    align-self: center;

}

.csdl{
   // background-color: skyblue;
    margin-top: 22.5px;
    border-style: solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;
    display: flex;
    flex-direction: column;
}

.csd-title{
    margin-right: 10px;
    font-weight:700;
    //background-color: blue;
    font-size:25px;
    font-family: 'Segoe UI';
    color: #002650;
    margin-bottom: 20px;
    margin-top:20px;
}

@media screen and(max-width:768px) {
    .researchCD{
        width:100%;
        display:flex;
        flex-direction: column;
      // background-color: bisque;
        width:100%;
       
    }
    
    .cd-header{
        //background-color: aquamarine;
        width:100%;
        display: flex;
        font-size: 20px;
        font-family:'Roboto';
        font-weight: 700;
        flex-direction: column;
       
    }
    .cd-title{
        width:100%;
        margin-left:0px;
        margin-bottom: 23.5px;
        
    }
    .cd-scrollMenu{
        width:100%;
        border-style: solid;
        border-top-width:1px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:1px;
        border-color: #707070;
      //  margin-left:0px;
      //  background-color: skyblue;
        display: flex;
        padding: 0px;
        justify-content: space-around;
    }
    .cdList{
        width:100%;
        font-size: 18px;
        list-style: none;
        display:flex;
       
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-around;
      //  background-color: pink;
        cursor:pointer;
    }
    
    .csd-all{
        display: flex;
    
        flex-direction: column;
        margin-left: 30px;
       // background-color: yellow;
        width: 90%;
        height: 100%;
        align-self: center;
    
    }
    
    
    
  
 
}