.researchCD{
    display:flex;
    flex-direction: column;
    background-color: bisque;
    
}

.cd-header{
    background-color: aquamarine;
   
    display: flex;
    font-size: 26px;
    flex-direction: column;
   
}
.cd-title{
    margin-left:50px;
}
.cd-scrollMenu{
    margin-left: 100px;
    margin-right:200px ;
    background-color: skyblue;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.cdList{
    font-size: 22px;
    list-style: none;
    display:flex;
    width: 100%;
    justify-content: space-around;
    background-color: pink;
    cursor:pointer;
}

.cd-profile{
    margin-right:200px ;
    margin-left:50px;
    background-color: aqua;
    padding:5px;
}

.cd-prog{
    margin-right:200px ;
    margin-left:50px;
    background-color: yellowgreen;
    padding:5px;
}

.cd-closing{
    margin-right:200px ;
    margin-left:50px;
    background-color: yellow;
    padding:5px;

}
