.publication{
    display:flex;
  //  background-color: orange;
    margin-bottom:482px;
    width: 100%;
   
    //height:100%;
}

.pub-left{
    margin-top:74px;
    flex:1;
    //background-color: greenyellow;
    display:flex;
    margin-right:10px;
    margin-left:10px;
   width:100%;
    flex-direction: column;
}
.slider{
  display:flex;
  flex-direction: column;
  position:sticky;  
  z-index: 1;
  //background-color: white;
  top:200px;
  width:100%;
  
}


.pub-menuTitle{
    display:flex;
    font-size: 27px;
    opacity: 1;
    font-weight: 1000;
    flex-direction: column;
   // border-style: solid;

    width:100%;
   
    margin-left:51px;

    
}

.pubContent{
  display:flex;
  flex-direction: column;
  width:100%;
  list-style: none;
  margin-top: 51px;
  
 // background-color: green;
  
}

.pub-list{
  list-style: none;
  display:flex;
  width:100%;
  left:0;
  flex-direction: column;
 // background-color: pink;
  margin-left: 10px;
}




.pub-item{
  display:flex;
  width:80%;
  font-size:22px;
  
  margin-bottom: 33px;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 1;
  cursor:pointer;
  border-style: solid;
  height: 46.5px;
  border-top-width: 0;
  border-left-width:0;
  border-right-width:0;
  border-bottom-width:1px;
  border-color: #FFC341;
  color:'#707070'
}

.pub-right{
    flex:5;
    display:flex;
    width:100%;
  //  background-color: lightcoral;
    margin-left:30px;
    flex-direction: column;
    height:100%;
    margin-top:64px;
  
    margin-right: 319.5px;
}


.pub-header{
  //  background-color: skyblue;
  display:flex;
  width:100%;
  font-weight:700;
    font-size: 26px;
    flex-direction: column;   
    border-color: #707070;
    border-style: solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
}
.pub-title{
    display:flex;
    
  // background-color: red;
    margin-left:50px;
    margin-bottom: 23.5px;

}


.international-journal{
  //background-color: aqua;
 
  //background-color: aqua;
  display:flex;
  justify-content: start;
  font-size:22px;
  
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

 .journal-content{
  display:flex;
  flex-direction: column;
   //background-color: yellow;
   font-size:22px;
   margin-bottom:60px;
   margin-left:38px;
   
   font-family: 'Roboto';
 }
 



.domestic-journal{
 // background-color: aqua;
  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Roboto';
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.international-conference{
//  background-color: pink;
  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Roboto';
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.conference-content{
  font-size:22px;
  display:flex;
  flex-direction: column;
  margin-bottom:60px;
  margin-left:38px;
  margin-right: 47px;
}

.domestic-conference{
 // background-color: pink;
  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Roboto';
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.patent{
 // background-color: pink;
  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Roboto';
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.patent-content{
  display:flex;
  flex-direction: column;
  font-size:22px;
  margin-bottom:60px;
  margin-left:38px;
  margin-right: 47px;
}

.book{
 //background-color: pink;
  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Roboto';
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.book-content{
  display:flex;
  flex-direction: column;
  font-size:22px;
  margin-bottom:60px;
  margin-left:38px;
  margin-right: 47px;
}

.conl{
  display:flex;
  
  margin-bottom: 29px;
}


@media screen and(max-width: 768px){
  
  .publication{
    display:flex;
   // background-color: orange;
    margin-bottom:482px;
    width: 100%;
   flex-direction: column;
  
   margin:0px;
    //height:100%;
}

.pub-left{
    margin-top:0px;
    flex:1;
    width: 90%;
   // background-color: greenyellow;
    display:flex;
    flex-direction: row;
    margin-right:0px;
    margin-left:0px;
    justify-content: center;
   // flex-direction: column;
}
.slider{
  display:flex;
 
  position:sticky;  
  z-index: 1;
  width:100%;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  top:200px;
 // background-color: yellow;
}

.bar-rightcdp{
   
  display:flex;
  margin-top: 120px;
 
  object-fit:cover;
  width:9px;
  height:208px;
  
  
}


.pub-menuTitle{
    display:flex;
    font-size: 18px;
    opacity: 1;
    font-weight: 1000;
    flex-direction: column;
   // border-style: solid;
  //background-color: skyblue;
    margin:10px;
    width:80%;
   

    
}

.pubContent{
  display:flex;
  
  justify-content: center;
  list-style: none;
  margin-top: 0px;
  width:80%;
 //background-color: green;
  flex-direction: row;
}

.pub-list{
  display:flex;
  margin-left: 0px;

  flex-direction: row;
  width:100%;
 // background-color: blue;
  //justify-content: center;
}





.pub-item{
  display:flex;
  font-size:12px;
  flex-direction: column;
  margin-top: 10px;
  width:80%;
 // background-color: red;
  margin-bottom: 17px;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 1;
  cursor:pointer;
  border-style: solid;
  height: 46.5px;
  border-top-width: 0;
  border-left-width:0;
  border-right-width:0;
  border-bottom-width:1px;
  border-color: #FFC341;
  color:'#707070'
}

.pub-right{
    flex:1;
    display:flex;
    width:100%;
   // background-color: lightcoral;
    margin-left:0px;
    flex-direction: column;
    height:100%;
    margin-top:0px;
    
}


.pub-header{
   // background-color: skyblue;
    display: flex;
    font-size: 13px;
    font-family: 'Roboto';
    flex-direction: column;   
    border-color: #707070;
    border-style: solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
}
.pub-title{
    display:flex;
// background-color: skyblue;
    margin-left:0px;
    margin-bottom: 23.5px;
    font-size: 25px;
}


.international-journal{
  //background-color: aqua;
 
  //background-color: aqua;
  display:flex;
  justify-content: start;
  font-size:14px;
  
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:10px;
  margin-bottom: 22.6px;
}

 .journal-content{
   display: flex;
  // background-color: yellow;
   width:80%;
   font-size:14px;
   margin-bottom:60px;
   margin-left:10px;
 
   font-family: 'Roboto';
 }
 



.domestic-journal{
  display:flex;
  justify-content: start;
  font-size:14px;
  
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:10px;
  margin-bottom: 22.6px;
}

.international-conference{
//  background-color: pink;
display:flex;
justify-content: start;
font-size:12px;

color: #002650;
opacity: 1;
font-weight: 1000;
margin-top: 40px;
margin-left:10px;
margin-bottom: 22.6px;
}

.conference-content{
  display: flex;
  //background-color: yellow;
  width:80%;
  font-size:14px;
  margin-bottom:60px;
  margin-left:10px;

  font-family: 'Roboto';
}

.domestic-conference{
 // background-color: pink;
 display:flex;
justify-content: start;
font-size:14px; font-size:14px;

color: #002650;
opacity: 1;
font-weight: 1000;
margin-top: 40px;
margin-left:10px;
margin-bottom: 22.6px;
}

.patent{
 // background-color: pink;
 display:flex;
justify-content: start;
font-size:15px;

color: #002650;
opacity: 1;
font-weight: 1000;
margin-top: 40px;
margin-left:10px;
margin-bottom: 22.6px;
}

.patent-content{
  display: flex;
   //background-color: yellow;
   width:80%;
   font-size:14px;
   margin-bottom:60px;
   margin-left:10px;
 
   font-family: 'Roboto';
}

.book{
 //background-color: pink;
 display:flex;
justify-content: start;
font-size:15px;

color: #002650;
opacity: 1;
font-weight: 1000;
margin-top: 40px;
margin-left:10px;
margin-bottom: 22.6px;
}

.book-content{
  display: flex;
  //background-color: yellow;
  width:80%;
  font-size:14px;
  margin-bottom:60px;
  margin-left:10px;

  font-family: 'Roboto';
}

.conl{
  display:flex;
  
  margin-bottom: 29px;
}
.bar-rightcdp{
   
  display:flex;
  margin-top: 120px;
 
  object-fit:cover;
  width:0px;
  height:0px;
  
  
}

}
  