

.stu-profile{
    
    border-color: #707070;
    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
   // background-color: aqua;
    display:flex;
    justify-content: center;
    width:100%;

    z-index: 0;
}

.stu-left{
    margin-top:23.5px;
    flex:1;
    display: flex;
    flex-direction: column;
    width:100%;
    //background-color: yellow;
}
.stu-course{
  //  background-color: green;
    display:flex;
    justify-content: start;
    font-size: 22px;
    font-family: 'Roboto';
    color: #002650;
    opacity: 1;
    font-weight: 1000;
    margin-top: 40px;
     margin-left:38px;
    margin-bottom: 22.6px;
}
.stu-photo{
    display:flex;
    justify-content: center;
  //  background-color: aquamarine;
 // background-color: red;
}
.stuImg{
    
    
    width:212px;
    height: 276px;
    justify-self: center;
 
    display: flex;
    
   
}


.stu-right{
    margin-top:23.5px;
 // background-color: yellow;
    flex:2;
    z-index: 1;
    width:100%;
    display: flex;
    position:static;
   // margin-left: 91.75px;
    flex-direction: column;
}
.stu-name{
   // background-color: skyblue;
    font-size:26px;
    font-weight: 700;
    font-family: 'Roboto';
    margin-left: 10px;
    margin-bottom: 17px;
   // display: flex;

}
.stu-pos{
    font-size:23px;
    
    
 
}
.stu-eng{
    margin-left: 20px;
    font-size: 23px;
}

.stu-field{
    border-style: solid;
    border-color:#707070;
    border-left-width: 0 ;
    border-right-width: 0 ;
    border-top-width: 1px;
    border-bottom-width: 0;
    display:flex;
    flex-direction: row;
    
    width:100%;
    z-index: 1;
   // background-color: blue;
}

.stu-subContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stu-edu{
    margin-left: 10px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.stu-edul1{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 29px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

.stu-edul2{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

.stu-ri{
    margin-left: 10px;
  
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.stu-ril{
   // background-color: red;
    margin-left: 10px;
    margin-right: 120px;
    font-size: 20px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

.stu-contact{
    margin-left: 10px;
  
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.stu-contactl{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

.bar-left{
  
    margin-top:90px;
    display: flex;
    object-fit:cover;
    //width:9px;
    height:208px;
  
}

.bar-rights{
    
    display: flex;
    object-fit:cover;
        //width:9px;
        
    height:208px;
    position:static;
    z-index: 2;
    
}
@media screen and(max-width: 768px){
    .stu-profile{
        border-color: #707070;
        border-style: solid;
        border-top-width:1px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:0px;
      // background-color: aqua;
        flex-direction: column;
        
        display:flex;
        width:90%;
        
    }
    
    .stu-left{
        margin-top:0px;
        flex:1;
        display: flex;
        flex-direction: column;
        width:100%;
        
     //   background-color: yellow;
    }
    .stu-course{
        display:flex;
        
        
        font-family: 'Roboto';
        color: #002650;
        opacity: 1;
        
        font-weight: 1000;
        margin-top: 0px;
        margin-left:0px;
        margin-bottom: 0px;
    }
    .stu-photo{
        display:flex;
        justify-content: center;
        margin-left:0px;
        width:80%;
      //  background-color: aqua;
     //   background-color: aquamarine;
    }
    .stuImg{
          
        display: flex;
        
        object-fit: contain;
        width:100%;
      //  background-color: aqua;
      //  background-color: red;
    }
    
    
    .stu-right{
        margin-top:23.5px;
     // background-color: yellow;
        flex:2;
        display: flex;
        margin-left: 0px;
        flex-direction: column;
     //   background-color: aqua;
    }
    .stu-name{
      //  background-color: skyblue;
        font-size:18px;
        font-weight: 700;
        font-family: 'Roboto';
        margin-left: 10px;
      
        margin-bottom: 17px;
       // display: flex;
    //   background-color: aqua;
    }
    .stu-pos{
        font-size:18px;
   //     background-color: skyblue;
        
     
    }
    .stu-eng{
        margin-left: 20px;
        font-size: 23px;
     //   background-color: skyblue;
    
  //   background-color: aqua;
    }
    
    .stu-field{
        border-style: solid;
        border-color:#707070;
        border-left-width: 0 ;
        border-right-width: 0 ;
        border-top-width: 1px;
        border-bottom-width: 0;
        display:flex;
        flex-direction: column;
        padding-top: 10px;
       // background-color: blue;
     //  background-color: aqua;
    }
    
    .stu-edu{
        margin-left: 10px;
        font-size: 16px;
        color:#002650;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 20px;
       // background-color: skyblue;
    //   background-color: aqua;
    }
    
    .stu-edul1{
        margin-left: 0px;
        font-size: 16px;
        margin-bottom: 29px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
    //    background-color: aqua;
     //   background-color: skyblue;
    }
    
    .stu-edul2{
        margin-left: 0px;
        font-size: 16px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
     //   background-color: skyblue;
    // background-color: aqua;
    }
    
    .stu-ri{
        margin-left: 0px;
      //  background-color: skyblue;
      font-size: 16px;
        color:#002650;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 29px;
      //  background-color: aqua;
    }
    
    .stu-ril{
      //  background-color: skyblue;
        margin-left: 0px;
        //margin-right: 120px;
        font-size: 16px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
      //  background-color: aqua;
    }
    
    .stu-contact{
        margin-left: 0px;
     //   background-color: skyblue;
     font-size: 18px;
        color:#002650;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 29px;
    }
    
    .stu-contactl{
        margin-left: 0px;
        font-size: 14px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
      //  background-color: skyblue;
    }
    
    .bar-left{
       // background-color: skyblue;
        margin-top:0px;
        display: flex;
        width:10px;
        
        //width:9px;
        height:0px;
     
      
    }
    
    .bar-rights{
        margin-top:0px;
        display: flex;
        object-fit:cover;
        //width:9px;
        height:0px;
      //  background-color: red;
      
    }
}