
.header{
   display:flex;
   flex-direction: column;
 //background-color: greenyellow;
}

.headerTitles{
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;

    color: #444;
   
    
}

.headerTitleSmall{
    position:absolute;
    top:148px;
    left:10px;
    color:white;
    margin-left: 330px;
    font-size: 35px;
   // background-color: lightcoral;
 
}

.headerTitleSmaller{
    position:absolute;
    top:210px;
    left:10px;
    color:white;
    margin-left:330px;
    font-size:28px;
}


.headerImg{
   
    width:100%;
   
    object-fit: cover;
    background-color: #00102D;
}
