.researchBS{
    display:flex;
    flex-direction: column;
  // background-color: bisque;
    margin-right: 319.5px;
    width:100%;
}

.bs-header{
   // background-color: aquamarine;
    
   display: flex;
   width: 100%;
   font-size: 26px;
   font-family:'Roboto';
   font-weight: 700;
   flex-direction: column;
   
}
.bs-title{
    display: flex;

    margin-left:60px;
    margin-bottom: 23.5px;
    width: 100%;
}
.bs-scrollMenu{
    width: 100%;
    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;
   
   // background-color: skyblue;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.bsList{
    font-size: 22px;
    list-style: none;
    display:flex;
    width: 100%;
    
    justify-content: space-around;
   // background-color: pink;
    cursor:pointer;
}


.bsp-all{
    display: flex;
    
    flex-direction: column;
  //  margin-left: 30px;
    //background-color: yellow;
    width: 90%;
    height: 100%;
    align-self: center;
}

.bspl{
   // background-color: skyblue;
    margin-top: 22.5px;
    border-style: solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;
    display: flex;
    flex-direction: column;
}

.bsp-all{
    display: flex;
    
    flex-direction: column;
  //  margin-left: 30px;
    //background-color: yellow;
    width: 90%;
    height: 100%;
    align-self: center;

}



@media screen and(max-width:768px){
    .researchBS{
        width:100%;
        display:flex;
        flex-direction: column;
      // background-color: bisque;
        width:100%;
        margin-right: 0px;
    }
    
    .bs-header{
       // background-color: aquamarine;
        
        width:100%;
        display: flex;
        font-size: 20px;
        font-family:'Roboto';
        font-weight: 700;
        flex-direction: column;
       
    }
    .bs-title{
        
        width:100%;
        margin-left:0px;
        margin-bottom: 23.5px;
    }
    .bs-scrollMenu{
        border-style: solid;
        border-top-width:1px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:1px;
        border-color: #707070;
        width:100%;
       // background-color: skyblue;
        display: flex;
        padding: 0px;
        justify-content: space-around;
    }
    .bsList{
        width:100%;
        font-size: 15px;
        list-style: none;
        display:flex;
       
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-around;
     //   background-color: pink;
        cursor:pointer;
    }
    .bsp-all{
        display: flex;
    
        flex-direction: column;
        margin-left: 30px;
       // background-color: yellow;
        width: 80%;
        height: 100%;
        align-self: center;
    
    }
    
   
    
}