.top{
    width:100%;
    height:150px;
    background-color:  #002650;
  // background-color: white;
    position:sticky;
    top:0;
   
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Snas', sans-serif;
}



.topSet{

    display:flex;
    flex-direction: column;
    object-fit: contain;
    width:100%;
    margin:10px;
    height:140px;
    align-items:center;
    background-color:  #002650;
  
}



.topImg{

    width:300px; 
    height: 90%;
    border-radius: 10%;

    object-fit:contain;
    background-color:  #002650;
    display: flex;
   
    
    
}


.topList{
    
    display:flex;
   
    margin:0;
    //padding:10;
    list-style:none;
    justify-content: space-around;

    //background-color: pink;

}
.topListItem{
    
    display: flex;
    font-size:25px;
    font-weight:300;
    cursor:pointer;
   
   
}
.topSearchIcon{
    
    
    font-size:25px;
    color:#444;
    cursor:pointer;
    display: flex;
    position:absolute;
    right:0;
    background-color:  #002650;;
}
.topLeft{
    width:100%;
    background-color:  #002650;
    height: 100%;
    flex:2;
    
    display: flex;
    justify-content: center;
}

.topCenter{
    flex:1;
    background-color:  #002650;;
    align-items: center;
    width:100%;
    justify-content: center;
}


@media screen and(max-width: 1200px){
   
       .topSet{
        width:100vw;
           .topLeft{
              
               width:100vw;
               height:5vw;
               justify-content: center;
           }
           .topImg{
               width:70%;
             
           }
          
           .topCenter{
            width:100vw;
            height: 10vw;
            justify-content:center;
            color:white;
            display: flex;
           }

           .topList{
          
            width:100vw;
            justify-content: center;
            align-items: center;
            color:white;
            display: flex;
           }
           .topListItem{
        
            justify-content:center;
            display: flex;
            margin-right: 50px;
           
           
           }
           .topSearchIcon{
            
                color:white;
                display: flex;
                justify-content:center;
            
           }
          
           
    }

 
    

}

/*@media screen and(max-width:200px){
   

}*/
