.top{
    width: 100%;
   //width:100vh; 
   height:193px;
    background-color:   #002A5C;
    
    position:sticky;
    top:0;
  
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
   
}
.icon-toggle{
    width:0px;
    height:0px;
    display: flex;
}
.topToggle{
    width:0px;
    height:0px;
    display: flex;
    
}

.topSet{

    display:flex;
    flex-direction: column;
    object-fit: contain;
    width:100%;
  
    height:192px;
    align-items:center;
    
    
  

}



.topImg{
    width:100%;
    height:117px;
    
    object-fit:contain;
    background-color:   #002A5C;
  //  background-color: red;
    
    display: flex;
   
    
}


.topList{
    
    display:flex;
    width:100%;
    height: 33px;
    //padding:10;
    //margin-right:100px;
    list-style:none;
    justify-content: space-around;
   // background-color: blue;
    
   
}
.topListItem{
    
    display: flex;
    font-size:25px;
   // width: 100%;
   
    font-weight:300;
    cursor:pointer;
    color: white;
    
   
}

.topLeft{
    width:100%;
  
    background-color:   #002A5C ;
    
    flex:1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.topCenter{
    flex:1;
    
    background-color:  #001E42;
    align-items: center;
    width:100%;
    display:flex;
    align-self: center;
  
 //   background-color: blue;
   
}
.toggle-click{
    font-size: 0;
}
.toggle{
    width: 100%;
    //width:100vh; 
    height:750px;
     display: flex;
    
     justify-content: center;
     font-family: 'Roboto';
    
}
.toggleSet{
    width:80%;
}

.toggleList{
    
    display:flex;
    width:100%;
    height: 33px;
    //padding:10;
    //margin-right:100px;
    list-style:none;
    justify-content: space-around;
   // background-color: aqua;
  
   
}
.toggleListItem{
    
    display: flex;
    font-size:0px;
   // width: 100%;
 //  background-color: blue;
    font-weight:300;
    cursor:pointer;
    color: white;
    
   
}

.toggleListItemTitle{

    display: flex;
    font-size:0px;
    padding:10px;
    font-weight:300;
    
    color: black;
    border-width: 0px;
    border-style:solid;
    border-color: lightgray;
   // background-color: white;
    justify-content: start;
}
.toggleContainer{
    width:100%;
    
}

@media screen and(max-width: 768px){
    .top{
        width:100%;
       
        background-color:   #002A5C;
        
        position:sticky;
        top:0;
        height:60px;
        z-index:1000;
        display: flex;
   
        font-family: 'Roboto';
   
    }
    .icon-toggle{
        width:25px;
        height:25px;
        display: flex;
        cursor: pointer;
        margin-top: 40px;
        margin-right : 10px;
    }
  
    
    .topSet{
    
        display:flex;
        flex-direction: column;
        object-fit: contain;
        width:100%;
        margin-top: 0px;
        align-items:center;
        height: 130px;
       //background-color: red;
    }
    .topToggle{
        width:100%;
        
        display: flex;
        justify-content:end;
      
    }
   /* .toggle-click{
        font-size: 20px;
    }
    */
    
    .topImg{
        width:100%;
        margin-top: 40px;
        object-fit:contain;
        background-color:   #002A5C;
        height: 60px;
        display: flex;
      
    }
    
    
    .topList{
        
        display:flex;
        width:0;
        height: 0;
       
        list-style:none;
       
        justify-content:space-around;
     
       margin-right: 40px;
    }
    .topListItem{
        
        display: flex;
        font-size:0px;
      //  width: 100%;
        margin-right: 5px;
        font-weight:300;
        cursor:pointer;
        color: white;
        
       
    }
 
    
    .topLeft{
        width:100%;
      
        background-color:   #002A5C ;
        
        flex:1;
       
        display: flex;
       
        align-items: center;
        justify-content: space-between;
    
    }
    
    .topCenter{
        flex:1;
        
        background-color:  #001E42;
        
        width:0;
        
        display:flex;
       justify-content: space-around;
    }
    
    .toggle{
        width: 100%;
        //width:100vh; 
        height:850px;
        
        
        
         
         display: flex;
         align-items: flex-start;
         
         font-family: 'Roboto';
         
    }
    
    .toggleSet{
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        justify-content: end;
    }
    
    .toggleContainer{
        width:50%;
        height: 100%;
        
        display: flex;
        background-color: white;
        justify-content: end;
    }
    .toggleList{
        
        display:flex;
        width:100%;
       
        //padding:10;
        //margin-right:100px;
        list-style:none;
      margin-top: 131px;
      justify-content: center;
      
      flex-direction: column;
      border-width: 5px;
    }
    .toggleListItem{
    
        display: flex;
        font-size:20px;
        padding:10px;
        font-weight:300;
        cursor:pointer;
        color: black;
        border-width: 1px;
        border-style:solid;
        border-color: lightgray;
        background-color: white;
        justify-content: start;
        
    }
    .toggleListItemTitle{
    
        display: flex;
        font-size:20px;
        padding:10px;
        font-weight:300;
       
        color: black;
        border-width: 1px;
        border-style:solid;
        border-color: lightgray;
        background-color: white;
        justify-content: center;
    }
}

/*@media screen and(max-width:200px){
   

}*/
