.top{
    width:100%;
   // height:100px;
    background-color: aqua;
  // background-color: white;
    position:sticky;
    top:0;
   
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Snas', sans-serif;
}



.topSet{

    display:flex;
    
    object-fit: contain;
    width:65%;
    margin:10px;
    height:80px;
    align-items:center;
    background-color: orange;
   

}



.topImg{

   width:200px; 
   height: 90%;
    border-radius: 10%;

    object-fit:contain;
    background-color: skyblue;
    display: flex;
    
    
    
}


.topList{
    
    display:flex;
   
    margin:0;
    //padding:10;
    list-style:none;
    justify-content: space-around;
    //background-color: pink;

}
.topListItem{
    
    
    font-size:25px;
    font-weight:300;
    cursor:pointer;
   
   
}
.topSearchIcon{
    
    font-size:25px;
    color:#444;
    cursor:pointer;
   // background-color: green;
}
.topLeft{
    width:70%;
    background-color: red;
    height: 90%;
    flex:1;
    justify-content: end;
    display: flex;
    
}

.topCenter{
    flex:2;
    background-color: green;
    align-items: center;
  
    justify-content: center;
}


@media screen and(max-width: 1200px){
   
       .topSet{
        width:100vw;
           .topLeft{
              
               width:100vw;
               height:5vw;
               justify-content: center;
           }
           .topImg{
               width:70%;
             
           }
          
           .topCenter{
            width:100vw;
            height: 10vw;
            justify-content:center;
            
            display: flex;
           }

           .topList{
          
            width:100vw;
            justify-content: center;
            align-items: center;
           
            display: flex;
           }
           .topListItem{
        
            justify-content:center;
            display: flex;
            margin-right: 50px;
           
           }
           .topSearchIcon{
            
            
                display: flex;
                justify-content:center;
            
           }
          
           
    }

 
    

}

/*@media screen and(max-width:200px){
   

}*/
