.publication{
    display:flex;   
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container{
  position: relative;
  padding: 0 2rem;
}


.researchLeft{
    flex:1;
    display:flex;
    width: 100%;
    height:100%;
    
}

.researchRight{
    flex:5;
    display:flex;
    width: 100%;
    height: 100%;
    margin-top: 64px;
}


.title_research{
    display:flex;
    font-size: 1.5rem;
    opacity:1;
    font-weight:1000;
    flex-direction: column;
    font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
    width: 100%;
    
}


.pub_left{
    flex:1;
    display:flex;
    margin-top: 86px;
    margin-bottom:0px;
    width: 100%;
    height:100%;
    
}
.slider{
  display:flex;
  flex-direction: column;
  position:sticky;  
  z-index: 1;
  width:100%;
  
}


.pub_menuTitle{
    display:flex;
    font-size: 1.5rem;
    opacity: 1;
    font-weight: 1000;
    flex-direction: column;
    width:100%;
   

    
}

.pubContent{
  display:flex;
  flex-direction: column;
  width:100%;
  list-style: none;
  margin-top: 51px;
  padding-left: 10px;
 

  
}

.pub_list{
  list-style: none;
  display:flex;
  width:100%;
  left:0;
  flex-direction: column;
  
}




.pub_item{
  display:flex;
  width:100%;
  font-size:1.2rem;
  margin-bottom: 33px;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;  
  font-weight: 700;
  opacity: 1;
  cursor:pointer;
  border-style: solid;
  height: 46.5px;
  border-top-width: 0;
  border-left-width:0;
  border-right-width:0;
  border-bottom-width:1px;
  border-color: #FFC341;
  color:'#707070'
}

.pub_right{
    flex:5;
    display:flex;
    width:100%;
    flex-direction: column;
    height:100%;
    margin-top:64px;
    padding-left : 20px;
    
    
}


.pub_header{

  display:flex;
  width:100%;
  font-weight:700;
    font-size: 26px;
    flex-direction: column;   
    border-color: #707070;
    border-style: solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
}
.pub_title{
    display:flex;
    font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
    padding-left:50px;
    margin-bottom: 23.5px;
    font-size: 1.5rem;

}


.international_journal{
  
  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left:38px;
  margin-bottom: 22.6px;
}

 .journal_content{
  display:flex;
  flex-direction: column;

   font-size:1rem;
   margin-bottom:60px;
   padding-left:38px;
   
   font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
 }
 



.domestic_journal{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left:38px;
  margin-bottom: 22.6px;
}

.international_conference{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left:38px;
  margin-bottom: 22.6px;
}

.conference_content{
  font-size:1rem;
  display:flex;
  flex-direction: column;
  margin-bottom:60px;
  padding-left:38px;
  margin-right: 47px;
}

.domestic_conference{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left:38px;
  margin-bottom: 22.6px;
}

.patent{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left:38px;
  margin-bottom: 22.6px;
}

.patent_content{
  display:flex;
  flex-direction: column;
  font-size:1rem;
  margin-bottom:60px;
  padding-left:38px;
  margin-right: 47px;
}

.book{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left:38px;
  margin-bottom: 22.6px;
}

.book_content{
  display:flex;
  flex-direction: column;
  font-size:1rem;
  margin-bottom:60px;
  padding-left:38px;
  margin-right: 47px;
}

.conl{
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  margin-bottom: 29px;
}

.title_border{
    display:flex;
}

.title_left{
    border-style: solid;
    width:50%;
    border-color: #002650;
}
.title_right{
    width:50%;
    background-color: #FFC341;
}



@media (max-width: 992px){
  .container{
    position: relative;
    padding: 0 1rem;
  }

    
  .title_research{
      font-size: 1.2rem;
  
  
  }

  .pub_title{

    font-size: 1.2rem;

}


  
  
.pub_item{
      
  font-size:1rem;
  /* width:208px; */
  margin-bottom: 23px;
  height: auto;
}





.international_journal{
  
  font-size: 1rem;
  
}

 .journal_content{

   font-size:0.8rem;
   
 }
 



.domestic_journal{

 
  font-size:1rem;

}

.international_conference{

 
  font-size:1rem;
  
}

.conference_content{
  font-size:0.8rem;
}

.domestic_conference{

  
  font-size: 1rem;
  
}

.patent{


  font-size: 1rem;

}

.patent_content{
  
  font-size:0.8rem;
  
}

.book{

  
  font-size: 1rem;
  
}

.book_content{
  
  font-size: 0.8rem;
  
}
.pubContent{
 
  margin-top: 31px;
  
}


 



  

  }
  
  @media (max-width: 576px) {
    .container{
      padding-left: 18px;
      padding-right: 18px;
    }


    .publication{
  
      flex-direction: column;
  }
  .researchRight{
  
    margin-top: 0;
}
  
      
  .title_research{
      font-size: 1.2rem;
  }

  .pub_title{

    font-size: 1.2rem;

}

.pub_left{
 
  margin-top: 20px;
  margin-bottom:0px;
  padding: 10px;
  
  
}
.researchRight{
 
  margin-top: 0;
}

.pubContent{
 
  margin-top: 10px;
  padding-left: 0;
  
}


  .pub_item{
      
      font-size:1rem;
      /* width:208px; */
      margin-bottom: 8px;
      height: auto;
  }


  .pub_title{
    display:flex;
    font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
    padding-left: 20px;
    margin-bottom: 23.5px;
    font-size: 1.2rem;

}


.international_journal{
  
  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left: 0;
  margin-bottom: 22.6px;
}

 .journal_content{
  display:flex;
  flex-direction: column;
   font-size:1rem;
   margin-bottom:60px;
   padding-left:0;
   
   font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
 }
 



.domestic_journal{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left:0;
  margin-bottom: 22.6px;
}

.international_conference{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left:0;
  margin-bottom: 22.6px;
}

.conference_content{
  font-size:1rem;
  display:flex;
  flex-direction: column;
  margin-bottom:60px;
  padding-left: 0;
  margin-right: 47px;
}

.domestic_conference{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left: 0;
  margin-bottom: 22.6px;
}

.patent{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left: 0;
  margin-bottom: 22.6px;
}

.patent_content{
  display:flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom:60px;
  padding-left: 0;
  margin-right: 47px;
}

.book{

  display:flex;
  justify-content: start;
  font-size:1rem;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  padding-left: 0;
  margin-bottom: 22.6px;
}

.book_content{
  display:flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom:60px;
  padding-left: 0;
  margin-right: 47px;
}

.conl{
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  margin-bottom: 29px;
}

.title_border{
    display:flex;
}

.title_left{
    border-style: solid;
    width:50%;
    border-color: #002650;
}
.title_right{
    width:50%;
    background-color: #FFC341;
}


  

  }