.publication{
    display:flex;   
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



.researchLeft{
    flex:1;
    display:flex;
    width: 100%;
    height:100%;
}

.researchRight{
    flex:5;
    display:flex;
    width: 100%;
    height: 100%;
    margin-top: 64px;
}


.title_research{
    display:flex;
    font-size: 27px;
    opacity:1;
    font-weight:1000;
    flex-direction: column;
    font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
    width: 100%;
    
}


.pub_left{
    flex:1;
    display:flex;
    margin-top: 64px;
    margin-bottom:200px;
    width: 100%;
    height:100%;
}
.slider{
  display:flex;
  flex-direction: column;
  position:sticky;  
  z-index: 1;
  width:100%;
  
}


.pub_menuTitle{
    display:flex;
    font-size: 27px;
    opacity: 1;
    font-weight: 1000;
    flex-direction: column;
    width:100%;
   

    
}

.pubContent{
  display:flex;
  flex-direction: column;
  width:100%;
  list-style: none;
  margin-top: 51px;
  margin-left: 10px;

  
}

.pub_list{
  list-style: none;
  display:flex;
  width:100%;
  left:0;
  flex-direction: column;
  
}




.pub_item{
  display:flex;
  width:90%;
  font-size:22px;
  margin-bottom: 33px;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;  
  font-weight: 700;
  opacity: 1;
  cursor:pointer;
  border-style: solid;
  height: 46.5px;
  border-top-width: 0;
  border-left-width:0;
  border-right-width:0;
  border-bottom-width:1px;
  border-color: #FFC341;
  color:'#707070'
}

.pub_right{
    flex:5;
    display:flex;
    width:100%;
    flex-direction: column;
    height:100%;
    margin-top:64px;
    
}


.pub_header{

  display:flex;
  width:100%;
  font-weight:700;
    font-size: 26px;
    flex-direction: column;   
    border-color: #707070;
    border-style: solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
}
.pub_title{
    display:flex;
    font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
    margin-left:50px;
    margin-bottom: 23.5px;
    font-size: 27px;

}


.international_journal{
  
  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

 .journal_content{
  display:flex;
  flex-direction: column;

   font-size:22px;
   margin-bottom:60px;
   margin-left:38px;
   
   font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
 }
 



.domestic_journal{

  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.international_conference{

  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.conference_content{
  font-size:22px;
  display:flex;
  flex-direction: column;
  margin-bottom:60px;
  margin-left:38px;
  margin-right: 47px;
}

.domestic_conference{

  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.patent{

  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.patent_content{
  display:flex;
  flex-direction: column;
  font-size:22px;
  margin-bottom:60px;
  margin-left:38px;
  margin-right: 47px;
}

.book{

  display:flex;
  justify-content: start;
  font-size:22px;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  color: #002650;
  opacity: 1;
  font-weight: 1000;
  margin-top: 40px;
  margin-left:38px;
  margin-bottom: 22.6px;
}

.book_content{
  display:flex;
  flex-direction: column;
  font-size:22px;
  margin-bottom:60px;
  margin-left:38px;
  margin-right: 47px;
}

.conl{
  display:flex;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  margin-bottom: 29px;
}

.title_border{
    display:flex;
}

.title_left{
    border-style: solid;
    width:50%;
    border-color: #002650;
}
.title_right{
    width:50%;
    background-color: #FFC341;
}



@media (max-width: 768px){

    
  .title_research{
      font-size: 1.5rem;
  
  
  }

  .pub_title{

    font-size: 1.5rem;

}

  
  .pub_item{
      
      font-size:1rem;
    
    
  }




.international_journal{
  
  
  font-size: 1.5rem;
  
}

 .journal_content{

   font-size:1rem;
   
 }
 



.domestic_journal{

 
  font-size:1.5rem;

}

.international_conference{

 
  font-size:1.5rem;
  
}

.conference_content{
  font-size:1rem;
}

.domestic_conference{

  
  font-size: 1.5rem;
  
}

.patent{


  font-size: 1.5rem;

}

.patent_content{
  
  font-size:1rem;
  
}

.book{

  
  font-size: 1.5rem;
  
}

.book_content{
  
  font-size: 1rem;
  
}



  

  }
  
  @media (max-width: 576px) {
      
  .title_research{
      font-size: 1rem;
  }

  .pub_title{

    font-size: 1rem;

}
  
  
  .pub_item{
      
      font-size:0.5rem;
      /* width:208px; */
      margin-bottom: 13px;
      height: 25px;
  }


.international_journal{
  
  
  font-size: 1rem;
  
}

 .journal_content{

   font-size:0.8rem;
   
 }
 



.domestic_journal{

 
  font-size:1rem;

}

.international_conference{

 
  font-size:1rem;
  
}

.conference_content{
  font-size:0.8rem;
}

.domestic_conference{

  
  font-size: 1rem;
  
}

.patent{


  font-size: 1rem;

}

.patent_content{
  
  font-size:0.8rem;
  
}

.book{

  
  font-size: 1rem;
  
}

.book_content{
  
  font-size: 0.8rem;
  
}

  

  }