.footer{
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: #002650;
    
    //position:fixed;
    position:sticky;
    margin:0;
    height: 457px;
    display: flex;
    align-items:center;
    font-family: 'Josefin Snas', sans-serif;
}

.footerSet{
    width:100%;
    display: flex;
    background-color: green;
   
}
.footerLeft{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #002650;;
    
}
.footerList{
    
    display:flex;
    flex-direction: column;
    margin:0;
    //padding:10;
    list-style:none;
    
    
    
   // background-color: pink;
   
}
.footerListItem{
    
    display: flex;
    font-size:15px;
    font-weight:300;
    cursor:pointer;
    color: white;
    padding:10px;
    
   
}

.footerRight{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 15px;
    flex-direction: column;
  //  background-color: #002650;
  background-color: red;
  
}
.markImg{
    margin-top:110px;
    width: 71px;
   
    border-radius: 100%;
    display:flex;
    
}


.footerImg{
    width: 394px;
    display:flex;
    height: 147px;
    border-radius: 10%;
    object-fit: contain;
}



.footerCenter{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #002650;
}


.infoTitle1{
    margin-bottom: 30px;
}



.footerBottom{
    display: flex;
    height:133px;
    flex-direction: column;
    background-color: #001228;
    color:white;
    align-items: center;
    width:100%;
}


@media screen and(min-width:2000px) {
    .footer{
       
        position: fixed;
       
    }
}