.researchSide{
   // background-color: skyblue;
    
   padding:10px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}
.title_research{
    
    display:flex;
    font-size: 27px;
    opacity:1;
    font-weight:1000;
    flex-direction: column;
    //background-color: red;
    width:208px;
    margin-left:45px;
}

.titleResearch_border{
    display:flex;
}

.titleResearch_left{
    border-style: solid;
    width:104px;
    
    border-color: #002650;
}
.titleResearch_right{
    width:104px;
    background-color: #FFC341;
}


.researchList{
    display:flex;
    left:0;
   
   // background-color: pink;
    
}

.researchContent{
    display:flex;
    flex-direction: column;

    list-style: none;
    margin-top: 51px;
    
   // background-color: orange;
    width:100%;
}

.researchListItem{
    font-size:17px;
    width:208px;
    margin-bottom: 33px;
    font-family: 'Segoe UI';
    font-weight: 600;
    
    cursor:pointer;
    border-style: solid;
    height: 46.5px;
    
    border-top-width: 0;
    border-left-width:0;
    border-right-width:0;
    border-bottom-width:1px;
    border-color: #FFC341;
    font-family: 'Segoe UI';
  //  background-color: beige;
}

@media screen and(max-width: 768px){
    .researchSide{
        // background-color: skyblue;
         width:100%;
         margin: 0;
      
     }
     .title_research{
         
        width: 100%;
        font-size: 17px;
        display: flex;
        margin-left: 0;
     }
     
     .titleResearch_border{
         display:flex;
     }
     
     .titleResearch_left{
        border-style: none;
     }
     .titleResearch_right{
             width:0;
     }
     
     
     .researchList{
        width: 100%;
        display: flex;
       
        margin-left: 0;
        
        // background-color: pink;
         
     }
     
     .researchContent{
        display: flex;
        margin-top: 10px;
        margin-left: 0;
     }
     
     .researchListItem{
        width: 100%;
        font-size: 15px;
        
        height: 20px;
       // margin-right: 10px;
     }

}