.researchSide{
  // background-color: skyblue;
 margin:10px;
 display: flex;
 flex-direction: column;
}
.title_research{
    
    display:flex;
    font-size: 27px;
    opacity:1;
    font-weight:1000;
    flex-direction: column;
    //background-color: red;
    width:208px;
    margin-left:51px;
}

.titleResearch_border{
    display:flex;
}

.titleResearch_left{
    border-style: solid;
    width:104px;
    
    border-color: #002650;
}
.titleResearch_right{
    width:104px;
    background-color: #FFC341;
}


.researchList{
    display:flex;
    left:0;
   
  //background-color: pink;
  margin-left: 10px;
}

.researchContent{
    display:flex;
    flex-direction: column;

    list-style: none;
    margin-top: 51px;
    
  // background-color: orange;
 
}

.researchListItem{
    font-size:17px;
    width:208px;
    margin-bottom: 33px;
    font-family: 'Roboto';
    font-weight: 600;
    opacity: 1;
    cursor:pointer;
    border-style: solid;
    height: 46.5px;
    
    border-top-width: 0;
    border-left-width:0;
    border-right-width:0;
    border-bottom-width:1px;
    border-color: #FFC341;
   
 //   background-color: beige;
}

@media screen and(max-width: 768px){
    .researchSide{
        // background-color: skyblue;
         
        width:100%;
         margin-right: 0;
       
         display: flex;
         
     }
     .title_research{
         
         display:flex;
         font-size: 20px;
         opacity:1;
         font-weight:1000;
         flex-direction: column;
         //background-color: red;
         width:104px;
         margin-left:0px;
     }
     
     .titleResearch_border{
         display:flex;
       
     }
     
     .titleResearch_left{
         border-style: solid;
         width:52px;
         
         border-color: #002650;
     }
     .titleResearch_right{
         width:52px;
         background-color: #FFC341;
     }
     
     
     .researchList{
         display:flex;
        flex-direction: row;
        margin-left:0px;
        justify-content: center;
        // background-color: pink;
         
     }
     
     .researchContent{
        display:flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        margin-top: 0px;
        margin-left: 0px;
        width:100%;
     }
     
     .researchListItem{
         font-size:12px;
         width:100%;
         margin-bottom: 17px;
         margin-top: 5px;
         font-family: 'Roboto';
         font-weight: 600;
         
         cursor:pointer;
         border-style: solid;
         height: 46.5px;
         
         border-top-width: 0;
         border-left-width:0;
         border-right-width:0;
         border-bottom-width:1px;
         border-color: #FFC341;
         font-family: 'Roboto';
       //  background-color: beige;
     }
    }