.student{
    display:flex;
    flex-direction: column;
   // background-color: bisque;
     margin-right: 319.5px;
     
     width:100%;
}

.stu-header{
   // background-color: aquamarine;
   // margin-left:50px;
    display: flex;
    font-size: 26px;
 
   
}
.stu-title{
    font-weight:700;
    display:flex;
    //margin-left:50px;
    margin-bottom: 23.5px;
    width:100%;
    margin-left:50px;
}


@media screen and(max-width: 768px){
    .student{
       // width:100%;
        display:flex;
        flex-direction: column;
     //  background-color: bisque;
    
        margin-right: 0px;
    }
    
    .stu-header{
        margin-top: 10px;
        
       //background-color: blue;
        margin-left:0px;
        display: flex;
        font-size: 13px;
        flex-direction: column;
       
    }
    .stu-title{
     //  background-color: aquamarine;
        font-weight:700;
        display: flex;
        width:80%;
        margin-left:0px;
        font-size: 25px;
        margin-bottom: 23.5px;

      
    }
    
    .stu-container{
        width: 100%;
        
        display: flex;
      //  background-color: aquamarine;
    }
    
    
}