.student{
    display:flex;
    flex-direction: column;
   // background-color: bisque;
     margin-right: 319.5px;
     
     width:100%;
}

.stu-header{
   // background-color: aquamarine;
   // margin-left:50px;
    display: flex;
    font-size: 26px;
 
   
}
.stu-title{
    font-weight:700;
    display:flex;
    //margin-left:50px;
    margin-bottom: 23.5px;
    width:100%;
    margin-left:50px;
}


@media screen and(max-width: 768px){
    .student{
        display:flex;
        flex-direction: column;
      //  background-color: bisque;
       // margin-left:10px;
         margin-right:10px;
         width:70%;
         font-weight:500;
    }
    
    .stu-header{
    //    background-color: aquamarine;
        margin-left:0px;
        display: flex;
        font-size: 20px;
        flex-direction: column;
       width: 100%;
    }
    .stu-title{
 //       background-color: aquamarine;
        font-weight:700;
        display:flex;
       // margin-left:10px;
        margin-bottom: 23.5px;
    }
    
    .stu-container{
        width: 100%;
        
        display: flex;
  //      background-color: aquamarine;
    }
    
    
}