.researchMI{
    display:flex;
    flex-direction: column;
    width:100%;
  
}

.mi_header{

   width:100%;
   display: flex;
   font-size: 26px;
   font-family:'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;  ;
   font-weight: 700;
   flex-direction: column;
}
.mi_title{
  
  display: flex;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 
  margin-left:50px;
  margin-bottom: 23.5px;
  width: 100%;
  white-space: normal;
}
.mi_scrollMenu{
    width:100%;
    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-color: #707070;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.miList{
  width:100%;
  font-size: 22px;
  list-style: none;
  display:flex;
  width: 100%;
  justify-content: space-around;
  cursor:pointer;
}

.mip_all{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-self: center;

}

.mipl{
 
  margin-top: 22.5px;
  border-style: solid;
  border-top-width:0px;
  border-left-width:0px;
  border-right-width:0px;
  border-bottom-width:1px;
  border-color: #707070;
  display: flex;
  flex-direction: column;
}

.mip_title{
  margin-right: 10px;

  font-size:25px;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;  
  color: #002650;
  font-weight:700;
  margin-bottom: 20px;
    margin-top:20px;
}


@media(max-width: 992px) {
    

  .mi_header{  
     font-size: 1.2rem;
  }
  .miList{
      font-size: 1rem;
 
  }

  .mipl{
   
      margin-top: 22.5px;
      border-style: solid;
      border-top-width:0px;
      border-left-width:0px;
      border-right-width:0px;
      border-bottom-width:1px;
      border-color: #707070;
      display: flex;
      flex-direction: column;
  }
}

@media (max-width: 576px) {
  
  .mi_header{  
      font-size: 0.8rem;
   }

   .miList{
      font-size: 0.8rem;
 
  }

   .mi_title{
     
      margin-left:20px;
      
      
  }
  
}
