.alumni{
    display:flex;
    flex-direction: column;
    background-color: bisque;
    
}

.alu-header{
    background-color: aquamarine;
   
    display: flex;
    font-size: 26px;
    flex-direction: column;
   
}
.alu-title{
    margin-left:50px;
}
.alu-scrollMenu{
    margin-left: 100px;
    margin-right:200px ;
    background-color: skyblue;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.aluList{
    font-size: 22px;
    list-style: none;
    display:flex;
    width: 100%;
    justify-content: space-around;
    background-color: pink;
    cursor:pointer;
}

.alu-profile{
    margin-right:200px ;
    margin-left:50px;
    background-color: aqua;
    padding:5px;
}

.phdAlum{
    margin-right:200px ;
    margin-left:50px;
    background-color: yellowgreen;
    padding:5px;
}

.msAlum{
    margin-right:200px ;
    margin-left:50px;
    padding:5px;
    background-color: green;
}