.alumni{
    display:flex;
    flex-direction: column;
 //   background-color: blue;
     margin-right: 319.5px;
   
     width:100%;
}

.alu-header{
  //  background-color: aquamarine;
    
    display: flex;
    font-size: 26px;
    flex-direction: column;
   
}
.alu-title{
    display:flex;
    margin-left:50px;
    margin-bottom: 23.5px;
    font-weight: 700;
    font-size: 25px;
    
}



.alu-profile{
   //margin-left:50px;
    border-color: #707070;
    border-style: solid;
    border-top-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
 //   background-color: aqua;
    display:flex;
    width:100%;
    justify-content: center;
}

.alu-left{
    margin-top:23.5px;
    flex:1;
    display: flex;
    flex-direction: column;
  
   // background-color: yellow;
}
.alu-course{
 //   background-color: green;
    display:flex;
    justify-content: start;
    font-size:22px;
    font-family: 'Roboto';
    color: #002650;
    opacity: 1;
    font-weight: 1000;
    margin-top: 40px;
    margin-left:38px;
    margin-bottom: 22.6px;
}
.aluImg{
    width:212px;
    height: 276px;
    justify-self: center;
    border-style:none;
    display: flex;
   // background-color: aquamarine;
}

.alu-photo{
    display:flex;
    justify-content: center;
}
.alu-right{
    margin-top:23.5px;
 // background-color: yellow;
    flex:2;
    display: flex;
    flex-direction: column;
}
.alu-name{
   // background-color: skyblue;
    font-size:26px;
    font-weight: 700;
    font-family: 'Roboto';
    margin-left: 10px;
    margin-bottom: 17px;
   // display: flex;

}
.alu-pos{
    font-size:23px;
    
    
 
}
.alu-eng{
    margin-left: 20px;
    font-size: 23px;
}

.alu-field{
    border-style: solid;
    border-color:#707070;
    border-left-width: 0 ;
    border-right-width: 0 ;
    border-top-width: 1px;
    border-bottom-width: 0;
    display:flex;
    flex-direction: column;
    padding-top: 37px;
   // background-color: blue;
    color:#707070;

}

.alu-edu{
    margin-left: 10px;
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.alu-edul1{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 29px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

.alu-aff{
    margin-left: 10px;
  
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.alu-affl{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}
.alu-dis{
    margin-left: 10px;
  
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.alu-disl{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

.alu-contact{
    margin-left: 10px;
  
    font-size: 20px;
    color:#002650;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 29px;
}

.alu-contactl{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto' ;
    margin-bottom: 29px;
}

@media screen and(max-width: 768px){
    .alumni{
        width:100%;
        display:flex;
        flex-direction: column;
      //  background-color: bisque;
         margin-right: 0px;
    }
    
    .alu-header{
      //  background-color: aquamarine;
      margin-left:0px;
      margin-top: 10px;
      //background-color: blue;
       margin-left:0px;
    //  background-color: aquamarine;
      //margin-left:50px;
      display: flex;
      font-size: 13px;
      flex-direction: column;
     
      width:100%;
    }
    .alu-title{
        display:flex;
        margin-left:10px;
        margin-bottom: 23.5px;
        font-weight:700;
        width:80%;
        
    }
    
    
    
    .alu-profile{
       // margin-left:50px;
       border-color: #707070;
       border-style: solid;
       border-top-width:1px;
       border-left-width:0px;
       border-right-width:0px;
       border-bottom-width:0px;
    //    background-color: aqua;
       flex-direction: column;
       display:flex;
       width:90%;
       margin-left: 10px;
    }
    
    .alu-left{
        margin-top:0px;
        flex:1;
        display: flex;
        flex-direction: column;
        width:100%;
       // background-color: yellow;
    }
    .alu-course{
     //   background-color: green;
     display:flex;
     font-size:22px;
    font-family: 'Roboto';
    color: #002650;
    opacity: 1;
    font-weight: 1000;
    margin-top: 0px;
    margin-left:0px;
    margin-bottom: 0px;
    }
    .aluImg{
        display: flex;
        
        width:100%;
        object-fit: contain;
       // background-color: aquamarine;
    }
    .alu-photo{
        display:flex;
        justify-content: center;
        margin-left:0px;
        width:80%;
    }
    
    .alu-right{
        margin-top:23.5px;
        //  background-color: yellow;
            flex:2;
            display: flex;
            margin-left: 0px;
            flex-direction: column;
    }
    .alu-name{
       // background-color: skyblue;
       font-size:18px;
       font-weight: 700;
       font-family: 'Roboto';
       margin-left: 10px;
     
       margin-bottom: 17px;
       // display: flex;
    
    }
    .alu-pos{
        font-size:18px;
        
        
     
    }
 /*   .alu-eng{
        margin-left: 20px;
        font-size: 23px;
    }*/
    
    .alu-field{
        border-style: solid;
        border-color:#707070;
        border-left-width: 0 ;
        border-right-width: 0 ;
        border-top-width: 1px;
        border-bottom-width: 0;
        display:flex;
        flex-direction: column;
        padding-top: 37px;
    
    }
    
    .alu-edu{
        margin-left: 0px;
        font-size:16px;
        color:#002650;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 29px;
    }
    
    .alu-edul1{
        margin-left: 0px;
        font-size:16px;
        margin-bottom: 29px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
    }
    
    .alu-aff{
        margin-left: 0px;
      
        font-size:16px;
        color:#002650;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 29px;
    }
    
    .alu-affl{
        margin-left: 0px;
        font-size:16px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
    }
    .alu-dis{
        margin-left: 0px;
      
        font-size:16px;
        color:#002650;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 29px;
    }
    
    .alu-disl{
        margin-left: 0px;
        font-size:16px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
    }
    
    .alu-contact{
        margin-left: 0px;
      
        font-size:16px;
        color:#002650;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 29px;
    }
    
    .alu-contactl{
        margin-left: 0px;
        font-size:16px;
        font-family: 'Roboto' ;
        margin-bottom: 29px;
    }
    
}