.header {
  display: flex;
  width: 100%;
  max-width: 1200px;
 
  margin: 0 auto;
  flex-direction: column;
}


.headerTitles{
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  flex-direction: column;

}

.container{
  display:flex;
  position: absolute;
  flex-direction: column;
  margin : 120px;
  z-index: 100;

}

.headerTitleSmall{
  color: #fff;
  font-size:  2rem;
  font-weight: 700;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;  
}

.headerTitleSmaller{
  color: #fff;
  font-size: 1.5rem;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif ;
  
}

.units > * {
  
  background-clip: text;
  color: transparent;

}

.visionText{
  color: #010e1e;
  font-size: 4rem;
}

.units > :last-child {
  transform: rotatex(180deg) translatey(15px); 
  mask-image: linear-gradient(transparent 50%, white 90%);
}

.listContainer{
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, -50%);
  
 
}



.listContainer .links{
  display: flex;
  gap: 1rem;

  
  
}


.textContainer1{
  padding: 10px;
  font-size: 3rem;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  text-align: center;
}
.textContainer2{
  padding: 10px;
  font-size: 2.5rem;
  color : #00489a;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  text-align: center;
}
.textContainer3{
  padding: 10px;
  font-size: 2rem;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  text-align: center;
}
.textContainer4{
  padding: 10px;
  font-size: 2.8rem;
  color : #005d8a;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  text-align: center;
}
.textContainer5{
  padding: 10px;
  font-size: 2.4rem;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  text-align: center;
}
.textContainer6{
  padding: 10px;
  font-size: 3rem;
  color : #003979;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  text-align: center;
}
.textContainer7{
  padding: 10px;
  font-size: 2.7rem;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  text-align: center;
}
.textContainer8{
  padding: 10px;
  font-size: 3rem;
  color : #0086c4;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  text-align: center;
}

.li {
  display: flex;
  flex-direction: column;
  list-style: none;
  
  height : auto;
  align-self: center;
  border-radius: 10px; 
  padding: 20px;
  cursor: pointer;
  transition: scale 0.2 ease;
  justify-content: center;

  
}

.li:hover{
  scale: 1.05;
  color: #fff;
}

.contents {
  text-decoration: none;
  color : #fff;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;
  
  
}
.contents:hover {
  color : #0167b3;
}

.back{
  display: flex;
  background: url(../public/images/main_design_img.webp);
  background-size:contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  
}




@media(max-width: 992px) {
  .container{
    margin : 50px;
  }
  .headerTitleSmall{
    font-size: 1.5rem;
  }
  .headerTitleSmaller{
    font-size: 1rem;
  }

  .visionText{
    font-size: 2.5rem;
  }

  /* .li {
    width : 200px;
  } */
  .contents {
    font-size: 1rem;
  }

  .textContainer{
    font-size: 1.6rem;
  }

  .back {
    height: 250px;
  }

  

.textContainer1{
  padding: 10px;
  font-size: 2rem;
  
}
.textContainer2{
  padding: 10px;
  font-size: 2rem;
  
}
.textContainer3{
  padding: 10px;
  font-size: 1.5rem;
 
}
.textContainer4{
  padding: 10px;
  font-size: 2.3rem;

}
.textContainer5{
  padding: 10px;
  font-size: 1.9rem;

}
.textContainer6{
  padding: 10px;
  font-size: 2.5rem;
  color : #003979;
 
}
.textContainer7{
  padding: 10px;
  font-size: 2.2rem;

}
.textContainer8{
  padding: 10px;
  font-size: 2.5rem;
  color : #0086c4;
  
}
  
  
}

@media (max-width: 576px) {
  .container{
    margin : 20px;
  }
  .headerTitleSmall{
    font-size: 0.7rem;
  }
  .headerTitleSmaller{
    font-size: 0.5rem;
  }
  .visionText{
    font-size: 1rem;
  }

  
  .contents {
    font-size: 0.6rem;
  }

  .textContainer{
    font-size: 0.8rem;
  }
  

  .listContainer{
    position: absolute;
  
    bottom: 30px;
    height: 30px;
    
   
  }
  
  
  
  .listContainer .links{
    display: flex;
    gap: 0.5rem;
    
    
  }

  .li {
    display: flex; 
    padding: 10px;
 
  
    
  }

  .back {
    height: 200px;
  }
  
  
}