.header {
  display: flex;
  width: 100%;
  flex-direction: column;
}


.headerTitles{
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  flex-direction: column;

}

.container{
  display:flex;
  position: absolute;
  flex-direction: column;
  margin : 120px;

}

.headerTitleSmall{
  color: #fff;
  font-size:  35px;
  font-weight: 700;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif;  
}

.headerTitleSmaller{
  color: #fff;
  font-size: 28px;
  font-family:  'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif ;
  
}

.units > * {
  background-clip: text;
  color: transparent;

}

.units > :last-child {
  transform: rotatex(180deg) translatey(15px); 
  mask-image: linear-gradient(transparent 50%, white 90%);
}