*{
    margin : 0;
    padding : 0;
    
    box-sizing: border-box;
    font-family: 'Noto Sans KR','Open Sans',AppleGothic,helvetica,sans-serif; 

}


/* li {
    list-style: none;
}

a {
    text-decoration: none;
   
}
a:hover {
    color:sandybrown;
} */